   <!-- @@include('template/header.html') -->
<section class="cardStudy">
    <div class="container">
        <div class="cardTitle">
            <h2>單字學習</h2>
        </div>
        <div class="cardContent">
            <ul class="cardSideBar">
                <li class="cardClassTitle">字卡類別</li>
                <li class="cardClass selectedCard default">
                    <span>初級(預設)</span>
                    <ul v-for="val in defaultCardbasic">
                        <!-- <li>Father</li>
                        <li>Family</li>
                        <li>Teacher</li>
                        <li>Huh</li> -->
                    </ul>
                </li>
                <li class="cardClass default">
                    <span>中級(預設)</span>
                    <ul>
                        <!-- <li>Mother</li>
                        <li>Father</li>
                        <li>Family</li>
                        <li>Teacher</li>
                        <li>Huh</li> -->
                    </ul>
                </li>
                <li class="cardClass default">
                    <span>高級(預設)</span>
                    <ul>
                        <!-- <li>Mother</li>
                        <li>Father</li>
                        <li>Family</li>
                        <li>Teacher</li>
                        <li>Huh</li> -->
                    </ul>
                </li>
                <!-- <li class="cardClass">
                    <span>音樂</span>
                    <ul>
                        <li>Guitar</li>
                        <li>Violin</li>
                        <li>Piano</li>
                        <li>Scale</li>
                        <li>Music</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>動物</span>
                    <ul>
                        <li>Tiger</li>
                        <li>Lion</li>
                        <li>Sloth</li>
                        <li>Food Panda</li>
                        <li>Python</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>生活</span>
                    <ul>
                        <li>What</li>
                        <li>The</li>
                        <li>Freak</li>
                        <li>Is</li>
                        <li>This</li>
                    </ul>
                </li>
                <li class="cardClass">
                    <span>旅遊</span>
                    <ul>
                        <li>What</li>
                        <li>The</li>
                        <li>Freak</li>
                        <li>Is</li>
                        <li>This</li>
                    </ul>
                </li> -->
                <!-- <li class="cardClass">
                    <span>其他</span>
                    <ul>
                        <li>Fight</li>
                        <li>Me</li>
                        <li>You</li>
                        <li>Punk</li>
                        <li>I</li>
                        <li>Am</li>
                        <li>Gonna</li>
                        <li>Kick</li>
                        <li>Your</li>
                        <li>Ass</li>
                    </ul>
                </li> -->
                <li class="cardClassEdit" id="toCardManage">單字管理</li>
            </ul>
            <div class="cardShow">
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem"></div>
                <div class="cardItem">
                    <p>字卡類別</p>
                    <span></span>
                </div>
                <div id="cardStudyBtn">開始記憶</div>
            </div>
            <div class="cardStudyStart">
                <div class="cardProgress">
                    <p>剩餘字卡：<span>5</span></p>
                    <div class="bar">
                        <div class="red"></div>
                        <div class="blue"></div>
                    </div>
                </div>
                <div class="cardStudyContent">
                    <div id="cardDontRememberZone"></div>
                    <div class="cardPlayButtonStyle" id="forget">不記得</div>
                    <div class="cardWrap"></div>
                    <div class="cardPlayButtonStyle" id="remember">記得</div>
                    <div id="cardRememberZone"></div>
                </div>
                <div id="cardQuit">離開</div>
            </div>
            <div class="cardManage">
                <div class="options">
                    <div class="picWrap">
                        <img src="img/cardImg/oct.png" alt="octpus">
                    </div>
                    <div class="function">
                        <!-- <div class="cardClassSelect">
                            <label for="cardClass">請選擇類別:</label>
                            <select name="cardClass">
                                <option value="音樂">音樂</option>
                                <option value="動物">動物</option>
                                <option value="生活">生活</option>
                                <option value="ㄚㄚㄚㄚㄚ阿">ㄚㄚㄚㄚㄚ阿</option>
                            </select>
                        </div> -->
                        <div class="buttons">
                            <div class="btn" id="addCardClass">增加類別</div>
                            <div class="btn" id="deleteCardClass">刪除類別</div>
                            <div class="btn" id="changeCardClassName">類別更名</div>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <ul id="cardManageList">
                        <!-- <li>apple</li>
                        <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> <li>apple</li>
                        <li>apple</li>
                        <li>pneumonoultramicroscopicsilicovolcanoconiosis</li> -->
                    </ul>
                    <div class="buttons">
                        <div class="btn" id="cardManageListBtn">刪除</div>
                        <div class="btn" id="cardMagLeave">回到字卡測驗</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div id="cardClassAddWindow" class="cardWindow">
        <div class="window">
            <h3>新增類別</h3>
            <label for="classAdd">請輸入類別名稱</label>
            <input type="text" name="classAdd" id="classAdd" maxlength="8" placeholder="ex: 音樂">
            <div class="buttons">
                <div class="confirm" id="confirmAdd">新增</div>
                <div class="cancel">取消</div>
            </div>
            <div class="close"></div>
        </div>
    </div>
    <div id="cardClassDeleteWindow" class="cardWindow">
        <div class="window">
            <h3>刪除類別</h3>
            <p>您確定要刪除此分類嗎？</p>
            <span></span>
            <div class="buttons">
                <div class="confirm" id="confirmDelete">刪除</div>
                <div class="cancel">取消</div>
            </div>
            <div class="close"></div>
        </div>
    </div>
    <div id="cardClassRenameWindow" class="cardWindow">
        <div class="window">
            <h3>更名類別</h3>
            <label for="classRename">原類別名稱: <span>音樂</span></label>
            <input type="text" name="classAdd" id="classRename" maxlength="8" placeholder="請輸入更改類別名稱">
            <div class="buttons">
                <div class="confirm" id="confirmRename">更改</div>
                <div class="cancel">取消</div>
            </div>
            <div class="close"></div>
        </div>
    </div>
</section>