<div class="alertWindowWrap">
    <div class="alertWindow">
        <h3 class="alertTitle">TITLE</h3>
        <div class="alertContent">Lorem hil ad facere saepe iusto consequatur minus ab tenetur repellendus laborum magni!</div>
        <div class="closeWrap">
            <div class="alertButton">確認</div>
        </div>
        <div class="alertClose"></div>
    </div>
</div>
<!-- ---------------問答懸賞區------------- -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<section class="forumQnaList" id="forumQnaList" >
    <div class="container">
      <div class="forumBreadcrumbWrap">
       <ul id="forumBreadcrumb">
         <li><a href="home.html"><span class="icon icon-home"></span>En-Galaxy</a></li>
         <li><a href="forum.html"><span class="icon icon-double-angle-right"></span>社群專區</a></li>
         <li><a href="#forumQnaTitle"><span class="icon icon-double-angle-right">問答懸賞</span></a></li>
         <!-- <li><a href="forumQA.html"><span class="icon icon-rocket"></span>問題詳情</a></li> -->
       </ul>
      </div>
      <!-- 提問燈箱開始 -->
      <div id="forumQAddWindow" class="cardWindow">
          <div class="forumQAddWarp">
            <div class="window">
                <form id="questionForm">
                  <h3>我要提問</h3>
                  <label for="que_title">問題標題:</label>
                  <p id="que_title_text"></p>
                  <textarea cols="30" rows="5" name="que_title" id="que_title" placeholder="請輸入問題標題"></textarea>
                  <br><label for="que_desc">問題描述:</label>
                  <p id="que_desc_text"></p>
                  <textarea cols="30" rows="10" name="que_desc" id="que_desc" placeholder="請輸入問題描述"></textarea>
                  <br>
                  <label for="que_money">設定懸賞金額:</label><input type="number" min="0"name="que_money" id="que_money">GEM
                  <div class="buttons">
                      <div class="cancel">取消</div>
                      <div class="confirm" id="questionAdd">新增</div>
                </form>
             </div>
            <div class="close"></div>
        </div>
          </div>
    </div>
      <div class="cardWindow" id="queResponse"></div>
      <!-- 提問燈箱結束 -->
      <div class="forumTitle">
        <div class="titleWrap" id=forumQnaTitle>
          <div class="imgWrap"><img src="img/forum/questionTitle.svg" alt="Title" /></div>
          <h2>問答懸賞</h2>
        </div>
        <div class="tabGroup">
          <div class="tab active"><a href="#tabMost" onload="getForumList()">熱門hot</a></div>
          <div class="tab"><a href="#tabHigh">最高懸賞金額top</a></div>
          <div class="tab"id="memberQna"><a href="#tabMine">我的問答</a></div>
        </div>
      </div>
      <!-- ----------最熱門話題列表--------- -->
      <div class="forumBackground active" id="tabMost">
        <div class="askQ"><div class="yellowBtn askQuestion">我要提問</div></div>
              <h3 class="forumTip">
               <div class="imgWrap"> <img src="img/forum/qna.png"alt="subtitle" /></div>
                快來挑戰回答大家的提問，搶下懸賞金額成為一代英語大師～
              </h3>
              <div class="qnaBoard" id="mostBoard">
                
              </div> 
        <!-- ----------------綠色黑板列表區---------- -->
              <div class="qnaList" id="questionPanel">
                <div class="qnaListTitle" >
                  <div class="imgTextbook"><img src="img/forum/testbook.svg" alt="testbook"></div>
                  <h3>《熱門話題列表》</h3>
                  <div class="imgTextPink"><img src="img/forum/textpink.svg" alt=""></div>
                </div>
            <div class="gButton">我要提問</div>
               </div>
      </div>
       
       <!-- ----------懸賞金額最高列表--------- -->
      <div class="forumBackground" id="tabHigh">
        <div class="askQ"><div class="yellowBtn  askQuestion">我要提問</div></div>
        <h3 class="forumTip">
          <div class="imgWrap"><img src="img/forum/qna.png" alt="subtitle" /></div>
          快來挑戰回答大家的提問，搶下懸賞金額成為一代英語大師～
        </h3>
         <div class="qnaBoard" id="highBoard">
        </div> 
        <!-- /////////////// -->
  
        <div class="qnaList"id="questionExpensive">
          <div class="qnaListTitle" >
            <div class="imgTextbook"><img src="img/forum/testbook.svg" alt="testbook"></div>
            <h3>《懸賞金額最高列表》</h3>
            <div class="imgTextPink"><img src="img/forum/textpink.svg" alt=""></div>
          </div>
          
          <div class="btnWarp">
             <div class="gButton">我要提問</div>
          </div>
         
        </div>
      </div>
    
      <!-- ----------我的問答列表--------- -->
      <div class="forumBackground" id="tabMine">
        <div class="askQ" style="display:none" >
          <!-- <div class="yellowBtn askQuestion">我要提問</div> -->
      </div>
        <h3 class="forumTip" style="display:none">
          <div class="imgWrap"><img src="img/forum/qna.png" /></div>
          我的問題
        </h3>
        <div class="qnaBoard" style="display:none">
          <div class="qnaProfile">
              <div class="qnaProfilePic imgWrap">
                <img src="img/forum/character.svg" alt="memberProfile">
              </div>
          </div>
          <div class="qnaProfileSection">
            <div class="qnaProfileInfo info">
              <div class="ansNum"><span>會員姓名:xxx</span></div>
              <div class="ansNum"><span id="memberLevel">英文等級:初級</span></div>
            </div>
            <div class="questionEdit info"style="display:none"><div class="ansNum"><span>編輯</span></div>
              
            </div>
            <div class="info">
              <div class="bounty">
                <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div>
                <span>1000</span>
              </div>
              <div class="ansNum"><span>0</span>問題</div>
              <div class="ansNum"><span>0</span>回答</div>
            </div>
          </div>
        </div>
        <div class="tabGroup" >
            <div class="tab active"><a href="#myQuestion">問題</a></div>
            <div class="tab"><a href="#myAnswer">回答</a></div>
        </div>
        <div class="qnaList active" id="myQuestion">
          
        </div>
        <div class="qnaList" id="myAnswer">
            <!-- 
            <div class="qnaListPage"></div> -->
          </div>
      </div>
    
      <div id="trigger_01"></div>
      <div class="imgAstronaut hidden">
        <img src="img/forum/astronaut.svg" alt="astronaut">
      </div>
    </div>
  </div>
  </section>
  <!-- ------------活動區------------ -->
  <section class="event" id="eventSection">
    <!-- ------------------活動燈箱----------- -->
    <div id="showLaunch" class="cardWindow">
        <div class="forumQAddWarp">
           <div>
                 <h2>創辦活動</h2> 
                 <article>
                     *En-Galaxy僅提供英語交流平台的活動呈現*活動內容概不負責<br>
                     *為必填項目
                 </article>
                 <form action="forumEventSend.php" method="post" name="eventForm" id="eventForm" enctype="multipart/form-data">
                     <div class="formField"><label for="title"></label><input type="text"placeholder="活動名稱*" name="act_name" id="act_name" ><label for="location"></label><input type="text"placeholder="活動地點*"name="act_place" id="act_place"></div>
                     <div class="formField">
                       <label for="date">活動日期*:</label>
                       <input type="date"placeholder="活動日期*"name="act_date"id="act_date">
                       <label for="time">活動報名截止日期*:</label><input type="date" name="act_due" id="act_due">
                       <label for="people"></label><input type="number"name="act_min" min="1"max="15" id="act_min"placeholder="活動人數*">
                     </div>
                     
                    <label for="image">上傳活動圖片*：</label><input type="file"name="uploadFile"id="eventFile"required>
                       <p><img id="eventImg"></p>
                     
                     <label for="actInfo"></label>
                       <textarea id="actInfo" name="act_detail"cols="20" rows="2"placeholder="活動詳情"></textarea>
                     
                     <label for="confirm">我已經確認相關隱私及使用者條款</label><br>
                     <input type="checkbox" name="confirm" id="confirm">yes
                     <div class="formField"><input type="submit"value ="創辦活動" id="actFormBtn"required></div>
                     </form>
                     <div class="eventFormClose closeShow"></div>
           </div>
        </div>
     </div>
  <!-- ---------------燈箱結束----------------- -->
    <div class="container">
      <div class="forumTitle" id="forumEventTitle">
        <div class="titleWrap">
          <div class="imgWrap"><img src="img/forum/lightningTitle.svg" alt="subtitle" /></div>
          <h2>英語交流活動</h2>
        </div>
        <div class="tabGroup">
          <div class="tab"><a href="#eventLists">熱門活動Hot</a></div>
          <div class="tab"><a href="#newEvent">最新活動New</a></div>
          <!-- <div class="tab"><a href="#myEvent">我的活動</a></div> -->
        </div>
      </div>
      <div class="forumBackground active" id="eventLists">
          <div class="askQ">
              <div class="yellowBtn launch">我要舉辦活動</div>
            </div>
            <h3 class="forumTip"> 
              <div class="imgWrap"><img src="img/forum/eventTeamwork.png" alt="subtitle" /></div>
              這裡提供讓大家舉辦活動的space，會員可以報名參加，英文最高級的會員也可以創辦活動讓大家一同參與。
            </h3>
            <div class="eventBoard" id="topEventBoard">



            </div>
            <div class="waterfall" id="topEventList"></div>
      </div>
      <div class="forumBackground" id="newEvent">
          <div class="askQ">
              <div class="yellowBtn launch">我要舉辦活動</div>
            </div>
            <h3 class="forumTip"> 
              <div class="imgWrap"><img src="img/forum/eventTeamwork.png" alt="subtitle" /></div>
              這裡提供讓大家舉辦活動的space，會員可以報名參加，英文最高級的會員也可以創辦活動讓大家一同參與。
            </h3>
            <div class="eventBoard" id="newEventBoard">


            </div>
            <div class="waterfall" id="newEventList"></div>
      </div>
      <div class="imgFire"><img src="img/forum/fireball.png" alt="fireball"></div>
      <div class="imgSkull"><img src="img/forum/skull.svg" alt="skullET"></div>
    </div>
  </section>

<script src="js/forum.js"></script>
<script src="js/eventLightBox.js"></script>
