
<!-- ---------------問答懸賞區------------- -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<section class="forumQnaList">
    <div class="container">
      <div class="forumBreadcrumbWrap">
       <ul id="forumBreadcrumb">
         <li><a href="home.html"><span class="icon icon-home"></span>En-Galaxy</a></li>
         <li><a href="forum.html"><span class="icon icon-double-angle-right"></span>社群專區</a></li>
         <li><a href="#forumQnaTitle"><span class="icon icon-double-angle-right">問答懸賞</span></a></li>
         <!-- <li><a href="forumQA.html"><span class="icon icon-rocket"></span>問題詳情</a></li> -->
       </ul>
      </div>
      <!-- 提問燈箱開始 -->
      <div id="forumQAddWindow" class="cardWindow">
          <div class="window">
              <form id="questionForm">
                <h3>我要發問</h3>
                <label for="que_title">問題標題:</label>
                <textarea cols="30" rows="5" name="que_title" id="que_title" placeholder="請輸入問題標題"></textarea>
                <br><label for="que_desc">問題描述:</label>
                <textarea cols="30" rows="10" name="que_desc" id="que_desc" placeholder="請輸入問題描述"></textarea>
                <br>
                <label for="que_money">設定懸賞金額:</label><input type="number" min="0"name="que_money" id="que_money">
                <div class="buttons">
                    <div class="cancel">取消</div>
                    <div class="confirm" id="questionAdd">新增</div>
              </form>
           </div>
          <div class="close">X</div>
      </div>
    </div>
      <div class="cardWindow" id="queResponse"></div>
      <!-- 提問燈箱結束 -->
      <!-- 提問成功發送燈箱 -->
      <div id="questionSuccessLightBox">
        <div class="lightBoxWrap">
        </div>
        <div class="lightBox">
            
                <h2>問題已送出</h2>
            
            <div class="popup__icons dis-f fw-w">
            </div>
            <i class="closeBtn far fa-times-circle"></i>
        </div>
      </div>
      <!-- !! -->
      <div class="forumTitle">
        <div class="titleWrap" id=forumQnaTitle>
          <div class="imgWrap"><img src="img/forum/questionTitle.svg" alt="Title" /></div>
          <h2>問答懸賞</h2>
        </div>
        <div class="tabGroup">
          <div class="tab active"><a href="#tabMost" onload="getForumList()">熱門hot</a></div>
          <div class="tab"><a href="#tabHigh">最高懸賞金額top</a></div>
          <div class="tab"><a href="#tabMine">我的問答</a></div>
        </div>
      </div>
      <!-- ----------最熱門話題列表--------- -->
      <div class="forumBackground active" id="tabMost">
        <div class="askQ"><div class="yellowBtn askQuestion" >我要提問</div></div>
              <h3 class="forumTip">
               <div class="imgWrap"> <img src="img/forum/qna.png"alt="subtitle" /></div>
                快來挑戰回答大家的提問，搶下懸賞金額成為一代英語大師～
              </h3>
              <div class="qnaBoard">
                <div class="info">
                  <div class="bounty">
                   <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                      >1000</span
                    >
                  </div>
                  <div class="ansNum"><span>0</span>回答</div>
                  <span id="ask" class="askTime">asked 2 mins</span>
                </div>
    
                <div class="qnaContent">
                  <div class="questionTitle">
                    <span class="qNum">Q1</span>
                    <a href="forumQA.html">
                      <h4 class="boardText">
                        How to connect two DB via MySQl in PHP and fetch lorem10
                      </h4>
                    </a>
                  </div>
                  <p class="hidden">
                    I am getting problem in php connecting two table and fetch
                    result from database. I also try to find other threads related
                    to me but i either not understand or not found.
                  </p>
                  <div class="yellowBtn"><a href="forumQA.html">挑戰回答</a></div>
                </div>
              </div>
        <!-- ----------------綠色黑板列表區---------- -->
              <div class="qnaList" id="questionPanel">
                <div class="qnaListTitle" >
                  <div class="imgTextbook"><img src="img/forum/testbook.svg" alt="testbook"></div>
                  <h3>《熱門話題列表》</h3>
                  <div class="imgTextPink"><img src="img/forum/textpink.svg" alt=""></div>
                </div>
              
                <!-- <div class="qnaListContent" >
                   <div class="listWrap">
                <div class="imgWrap"><img src="img/forum/character.svg" alt="character" /></div>
                    <div class="info">
                      <div class="bounty">
                        <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span>1000</span>
                      </div>
                      <div class="ansNum"><span>0</span>回答</div>
                    </div>
                  </div> 
                  <<div class="questionTitle">
                    <span class="qNum">Q1</span>
                    <a href="#">
                      <h4>
                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                        aspernatur.
                      </h4>
                    </a>
                    <div class="listTimeNButton">
                      <span id="ask" class="askTime">asked 2 mins</span>
                      <div class="yellowBtn">挑戰回答</div>
                    </div>
                  </div>
                </div>
                -->
   
                <div class="gButton">我要提問</div>
               </div>
      </div>
       
       <!-- ----------懸賞金額最高列表--------- -->
      <div class="forumBackground" id="tabHigh">
        <div class="askQ"><div class="yellowBtn">我要提問</div></div>
        <h3 class="forumTip">
          <div class="imgWrap"><img src="img/forum/qna.png" alt="subtitle" /></div>
          快來挑戰回答大家的提問，搶下懸賞金額成為一代英語大師～
        </h3>
        <div class="qnaBoard">
          <div class="info">
            <div class="bounty">
              <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                >1000</span
              >
            </div>
            <div class="ansNum"><span>0</span>回答</div>
            <span id="ask" class="askTime">asked 2 mins</span>
          </div>

          <div class="qnaContent">
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch lorem10
                </h4>
              </a>
            </div>
            <p class="hidden">
              I am getting problem in php connecting two table and fetch
              result from database. I also try to find other threads related
              to me but i either not understand or not found.
            </p>
            <div class="yellowBtn">挑戰回答</div>
          </div>
        </div>
  
        <div class="qnaList">
          <h3>《最高金額討論列表》</h3>
          <div class="qnaListContent">
            <div class="listWrap">
              <div class="imgWrap"><img src="img/forum/character.svg"/></div>
              <div class="info">
                <div class="bounty">
                 <div class="imgWrap"> <img src="img/forum/money.svg" alt="money" /></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
                <div class="yellowBtn">挑戰回答</div>
              </div>
            </div>
          </div>
          <div class="qnaListContent">
            <div class="listWrap">
              <div class="imgWrap"><img src="img/forum/character.svg" /></div>
              <div class="info">
                <div class="bounty">
                  <div class="imgWrap"><img src="img/forum/money.svg" alt="money"/></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
                <div class="yellowBtn">挑戰回答</div>
              </div>
            </div>
          </div>
          <div class="qnaListContent">
            <div class="listWrap">
              <div class="imgWrap"><img src="img/forum/character.svg" /></div>
              <div class="info">
                <div class="bounty">
                  <div class="imgWrap"><img src="img/forum/money.svg" alt="money"/></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
                <div class="yellowBtn">挑戰回答</div>
              </div>
            </div>
          </div>

          <div class="gButton">我要提問</div>
        </div>
      </div>
    
      <!-- ----------我的問答列表--------- -->
      <div class="forumBackground" id="tabMine">
        <div class="askQ"><div class="yellowBtn">我要提問</div></div>
        <h3 class="forumTip">
          <div class="imgWrap"><img src="img/forum/qna.png" /></div>
          我的問題
        </h3>
        <div class="qnaBoard">
          <div class="qnaProfile">
              <div class="qnaProfilePic imgWrap">
                <img src="img/forum/character.svg" alt="memberProfile">
              </div>
          </div>
          <div class="qnaProfileSection">
            <div class="qnaProfileInfo info">
              <div class="ansNum"><span>會員姓名:xxx</span></div>
              <div class="ansNum"><span>英文等級:初級</span></div>
            </div>
            <div class="questionEdit info"><div class="ansNum"><span>編輯</span></div>
              
            </div>
            <div class="info">
              <div class="bounty">
                <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div>
                <span>1000</span>
              </div>
              <div class="ansNum"><span>0</span>問題</div>
              <div class="ansNum"><span>0</span>回答</div>
            </div>
          </div>
        </div>
        <div class="tabGroup">
            <div class="tab active"><a href="#myQuestion">問題</a></div>
            <div class="tab"><a href="#myAnswer">回答</a></div>
          </div>
        <div class="qnaList active" id="myQuestion">
          <h3>《我的問題列表》</h3>

          <div class="qnaListContent">
            <div class="listWrap">
              
              <div class="info">
                <div class="bounty">
                  <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
               
              </div>
            </div>
          </div>
          <div class="qnaListContent">
            <div class="listWrap">
             
              <div class="info">
                <div class="bounty">
                 <div class="imgWrap"> <img src="img/forum/money.svg" alt="money"/></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
                
              </div>
            </div>
          </div>
          <div class="qnaListContent">
            <div class="listWrap">
            
              <div class="info">
                <div class="bounty">
                  <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                    >1000</span
                  >
                </div>
                <div class="ansNum"><span>0</span>回答</div>
              </div>
            </div>
            <div class="questionTitle">
              <span class="qNum">Q1</span>
              <a href="#">
                <h4>
                  How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                  dolor sit amet consectetur, adipisicing elit. Laboriosam,
                  aspernatur.
                </h4>
              </a>
              <div class="listTimeNButton">
                <span id="ask" class="askTime">asked 2 mins</span>
                
              </div>
            </div>
          </div>

          <div class="qnaListPage"></div>
        </div>
        <div class="qnaList" id="myAnswer">
            <h3>《我的回答列表》</h3>
  
            <div class="qnaListContent">
              <div class="listWrap">
                
                <div class="info">
                  <div class="bounty">
                    <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                      >1000</span
                    >
                  </div>
                  <div class="ansNum"><span>0</span>回答</div>
                </div>
              </div>
              <div class="questionTitle">
                <span class="qNum">Q1</span>
                <a href="#">
                  <h4>
                    How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Laboriosam,
                    aspernatur.
                  </h4>
                </a>
                <div class="listTimeNButton">
                  <span id="ask" class="askTime">asked 2 mins</span>
                  
                </div>
              </div>
            </div>
            <div class="qnaListContent">
              <div class="listWrap">    
                <div class="info">
                  <div class="bounty">
                   <div class="imgWrap"> <img src="img/forum/money.svg" alt="money"/></div><span
                      >1000</span
                    >
                  </div>
                  <div class="ansNum"><span>0</span>回答</div>
                </div>
              </div>
              <div class="questionTitle">
                <span class="qNum">Q1</span>
                <a href="#">
                  <h4>
                    How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Laboriosam,
                    aspernatur.
                  </h4>
                </a>
                <div class="listTimeNButton">
                  <span id="ask" class="askTime">asked 2 mins</span>
                 
                </div>
              </div>
            </div>
            <div class="qnaListContent">
              <div class="listWrap">
               
                <div class="info">
                  <div class="bounty">
                    <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
                      >1000</span>
                  </div>
                  <div class="ansNum"><span>0</span>回答</div>
                </div>
              </div>
              <div class="questionTitle">
                <span class="qNum">Q1</span>
                <a href="#">
                  <h4>
                    How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Laboriosam,
                    aspernatur.
                  </h4>
                </a>
                <div class="listTimeNButton">
                  <span id="ask" class="askTime">asked 2 mins</span>
                  
                </div>
              </div>
            </div>
  
            <div class="qnaListPage"></div>
          </div>
      </div>
    
      <div id="trigger_01"></div>
      <div class="imgAstronaut hidden">
        <img src="img/forum/astronaut.svg" alt="astronaut">
      </div>
    </div>
  </div>
  </section>
  <!-- ------------活動區------------ -->
  <section class="event">
    <!-- ------------------活動燈箱----------- -->
          <div class="showLaunchBg"></div>
          <div id="showLaunch">
              <h2>創辦活動</h2> 
              <h6 class="closeShow">
                  <i class="btnCancel" id="btnCancel">X</i>
              </h6>
              <article>
                  *En-Galaxy僅提供英語交流平台的活動呈現*活動內容概不負責<br>
                  *為必填項目
              </article>
              <form action="forumEventSend.php" method="post" name="eventForm" id="eventForm" enctype="multipart/form-data">
              <div class="formField"><label for="title"></label><input type="text"placeholder="活動名稱*" name="act_name" id="act_name" required></div>
              <div class="formField"><label for="location"></label><input type="text"placeholder="活動地點*"name="act_place" id="act_place" required></div>
              <div class="formField"><label for="date">活動日期*:</label><input type="date"placeholder="活動日期*"min="2019-08-25"name="act_date"id="act_date"required><label for="time">活動報名截止日期*:</label><input type="date" name="act_due" id="act_due"required>
                <label for="people"></label><input type="number"name="act_min" min="1"max="15" id="act_min"placeholder="活動人數*"required><label for="level">英文聚會應具備等級*:</label><select placeholder="英文聚會應具備等級?" name="level" id="level_no"required>
                <option disabled hidden selected>選擇英文等級</option>
                <option value="1">初級</option>
                <option value="2">中級</option>
                <option value="3">高級</option>
                </select></div>
              
              <div class="formField"><label for="image">上傳活動圖片*：</label><input type="file"name="uploadFile"id="eventFile"required>
                <p><img id="eventImg"></p>
              </div>
              <div class="formField"><label for="actInfo"></label>
                <textarea id="actInfo" name="act_detail"cols="30" rows="5"placeholder="活動詳情"></textarea>
              </div>   
              <label for="confirm">我已經確認相關隱私及<a href="#">使用者條款</a></label><br>
              <input type="checkbox" name="confirm" id="confirm">yes
              <div class="formField"><input type="submit"value ="創辦活動" id="actFormBtn"required></div>
              </form>
      </div>
  <!-- ---------------燈箱結束----------------- -->
  <!-- 成功創立活動燈箱 -->
  <div class="eventSuccessLightBox">
    <div class="popup__wrap member-login-popup__close z-i-999">
    </div>
  
    <div class="popup__box  card-lg ta-c z-i-999">
        <div>
            <h4>成功創立活動!</h4>
        </div>
        <div class="popup__icons dis-f fw-w">
        </div>
        <i class="close-btn po-r far fa-times-circle"></i>
    </div>
  </div>
  <!-- !! -->
  
    <div class="container">
      <div class="forumTitle" id="forumEventTitle">
        <div class="titleWrap">
          <div class="imgWrap"><img src="img/forum/lightningTitle.svg" alt="subtitle" /></div>
          <h2>英語交流活動</h2>
        </div>
        <div class="tabGroup">
          <div class="tab"><a href="#">熱門活動Hot</a></div>
          <div class="tab"><a href="#">最新活動New</a></div>
          <div class="tab"><a href="#">我的活動</a></div>
        </div>
      </div>
      <div class="forumBackground active" id="eventLists">

      </div>
      <div class="imgFire"><img src="img/forum/fireball.png" alt="fireball"></div>
      <div class="imgSkull"><img src="img/forum/skull.svg" alt="skullET"></div>
    </div>
  </section>
  
<script src="js/forum.js"></script>
<script src="js/eventLightBox.js"></script>