<section class="indexIntro index">
    <div class="container">
        <div class="title">
            <img src="img/index/rocket2.png" alt="">
            <img src="img/index/indexTitle.png" alt="">
            <img src="img/index/rocketreverse.png" alt="">
        </div>
        <div class="book">
            <img  data-depth="0.7" src="img/index/indexVideo.png" alt="img">
            <img  data-depth="0.3" src="img/index/pencil.png" alt="img">
            <img  data-depth="0.8" src="img/index/atom.png" alt="img">
            <img  data-depth="0.2" src="img/index/indexCard.png" alt="img">
            <img  data-depth="0.8" src="img/index/abc.png" alt="img">
            <img  data-depth="0.3" src="img/index/caractor.png" alt="img">
            <img  data-depth="0.3" src="img/index/telepscope.png" alt="img">
            <img  data-depth="0.1" src="img/index/book.png" alt="img">
        </div>
    </div>
    <img src="img/index/planetRed.png" alt="planetRed">
    <img src="img/index/planetBlue.png" alt="planetBlue">
</section>
<section class="indexChange">
    <h2>角色換裝專區</h2>
            @@include('roleCreate.html')
        <div id="indexTriggerBanner"></div>
        <div class="banner">
            <img src="img/index/cha.png" alt="img">
        </div>
    </div>
</section>
<section class="indexStory">
    <div class="container">
        <h2>英文考驗大挑戰</h2>
        <div class="picWrap">
            <img src="img/index/roket.png" alt="lunching">
        </div>
        <div class="storyContent">
            <span>《來自英語星球的求救信》</span>
            <article>
                <p>求救!英語破壞王正在宇宙四處搗蛋!</p>
                <p>我們的家園被毀了!</p>
                <p>各位勇者!</p>
                <p>我們需要你們的協助打敗英語破壞王</p>
                <p>而唯有使用英文技能才能打敗英語破壞王...</p>
            </article>
            <span>您準備好挑戰了嗎?</span>
        </div>
    </div>
</section>
<section class="indexGame">
    <div class="container">
        <div class="gameImg">
            <img src="img/index/gamePage.png" alt="game">
        </div>
        <div class="textWrap">
            <img src="img/index/monsterWord.png" alt="Monster Word">
        </div>
        <div class="monsterImg">
            <img src="img/index/boss.png" alt="monster">
        </div>
        <div class="earthImg">
            <img src="img/index/planetGreen.png" alt="planet Earth">
            <div class="button">開始挑戰</div>
        </div>
        <div class="cloudImg">
            <img src="img/index/indexCloud.png" alt="planet Earth">
        </div>
    </div>
</section>
<section class="indexVideo">
    <div class="container">
        <h2>影片學習專區</h2>
        <div class="videoClass">
            <span>影片類別</span>
            <span id="indexVideoMusic">音樂</span>
            <span id="indexVideoShow">影劇</span>
            <span id="indexVideoNews">新聞</span>
        </div>
        <div class="videoTitle">
            <h3>聊天須知！假期和休閒娛樂怎麼說？</h3>
            <h3>(Study English - Series 3, Episode 22: Talking About Holidays and Leisure Time)</h3>
        </div>
        <div class="indexVideoContent">
            <div class="video">This is a video</div>
            <div class="videoSub">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci asperiores facere ullam, eos laborum hic dignissimos? Ducimus, vero. Quis modi quaerat quo. Sapiente ab recusandae magni eaque ut nemo libero dolores, rerum eveniet vel repudiandae asperiores repellat incidunt quod. Blanditiis aperiam quas repellat fuga tenetur inventore dolorum excepturi quod in, tempora id omnis voluptatem provident obcaecati possimus delectus veniam adipisci suscipit deserunt. Dolore ut ex error doloribus in. Animi quisquam autem voluptas obcaecati perspiciatis adipisci minima incidunt quos labore, a iure dolorum asperiores? Vero, earum pariatur. Obcaecati placeat sit itaque, tempora vel quas eligendi unde temporibus, voluptatem quia ducimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci asperiores facere ullam, eos laborum hic dignissimos? Ducimus, vero. Quis modi quaerat quo. Sapiente ab recusandae magni eaque ut nemo libero dolores, rerum eveniet vel repudiandae asperiores repellat incidunt quod. Blanditiis aperiam quas repellat fuga tenetur inventore dolorum excepturi quod in, tempora id omnis voluptatem provident obcaecati possimus delectus veniam adipisci suscipit deserunt. Dolore ut ex error doloribus in. Animi quisquam autem voluptas obcaecati perspiciatis adipisci minima incidunt quos labore, a iure dolorum asperiores? Vero, earum pariatur. Obcaecati placeat sit itaque, tempora vel quas eligendi unde temporibus, voluptatem quia ducimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci asperiores facere ullam, eos laborum hic dignissimos? Ducimus, vero. Quis modi quaerat quo. Sapiente ab recusandae magni eaque ut nemo libero dolores, rerum eveniet vel repudiandae asperiores repellat incidunt quod. Blanditiis aperiam quas repellat fuga tenetur inventore dolorum excepturi quod in, tempora id omnis voluptatem provident obcaecati possimus delectus veniam adipisci suscipit deserunt. Dolore ut ex error doloribus in. Animi quisquam autem voluptas obcaecati perspiciatis adipisci minima incidunt quos labore, a iure dolorum asperiores? Vero, earum pariatur. Obcaecati placeat sit itaque, tempora vel quas eligendi unde temporibus, voluptatem quia ducimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci asperiores facere ullam, eos laborum hic dignissimos? Ducimus, vero. Quis modi quaerat quo. Sapiente ab recusandae magni eaque ut nemo libero dolores, rerum eveniet vel repudiandae asperiores repellat incidunt quod. Blanditiis aperiam quas repellat fuga tenetur inventore dolorum excepturi quod in, tempora id omnis voluptatem provident obcaecati possimus delectus veniam adipisci suscipit deserunt. Dolore ut ex error doloribus in. Animi quisquam autem voluptas obcaecati perspiciatis adipisci minima incidunt quos labore, a iure dolorum asperiores? Vero, earum pariatur. Obcaecati placeat sit itaque, tempora vel quas eligendi unde temporibus, voluptatem quia ducimus!</p>
            </div>
        </div>
        <a href="videoListContent.html" class="yellowButton">開始學習</a>
    </div>
</section>
<section class="indexCard">
    <div class="container">
        <h2>字卡測驗系統</h2>
        <div class="indexCardComm">
            <div class="picWrap">
                <img src="img/index/indexGraph.png" alt="comm">
            </div>
            <div class="cardCommIntro">
                <h3>專業字卡系統</h3>
                <p>學習單字更有效率！</p>
                <p>計畫性學習，時間自己決定！</p>
                <p>生字收藏，隨時練習不間斷！</p>
            </div>
            <img class="indexCardCloud" src="img/index/indexCloud2.png" alt="bgCloud">
        </div>
        <div class="indexCardTrans">
            <div class="caractor">
                <p>點我可以翻譯英文哦!</p>
                <div class="picWrap">
                    <img src="img/index/caractor2.png" alt="caractor">
                </div>
            </div>
            <div class="cardSystem">
                <div class="button cardPlayButtonStyle">不記得</div>
                <div class="picWrap">
                    <div class="card"></div>
                    <div class="card">
                        <img src="img/cardImg/information.png" alt="">
                        <span>我要看單字</span>
                    </div>
                </div>
                <div class="button cardPlayButtonStyle">記得</div>
            </div>
        </div>
        <a href="card.html" class="button">開始學習</a>
        <div id="indexCardDecorations">
            <div class="indexCardRedPlanet" data-depth="0.8">
                <img src="img/index/planetRed2.png" alt="planetRed">
            </div>
            <div class="indexCardBluePlanet" data-depth=".5">
                <img src="img/index/tinyBluePlanet.png" alt="tinyBluePlanet">
            </div>
            <div class="planetWithRocket" data-depth="0.3">
                <img src="img/index/planetWithRocket.png" alt="planetWithRocket">
            </div>
        </div>
    </div>
</section>
<section class="indexForum">
    <div class="container">
        <h2 class="indexTitle">討論區</h2>
        @@include("qnaBlackboard.html")
    </div>
</section>
<section class="indexActivity">
    <div class="container">
        <h2 class="indexTitle">最新活動</h2>
        @@include('eventList.html')
        <div class="btnWrap">
            <div class="button">更多活動</div>
            <div class="button">我要舉辦活動</div>
        </div>
    </div>
</section>