<section class="leading">
    <div class="container">
        <div class="logo col-12 col-md-12">
            <div class="bounceIn wrapLogo col-5 col-md-2">
                <img src="img/leading/logo.png" alt="">
            </div>
        </div>

        <div class="frontStage col-6 col-md-6">
            <a class="col-10 col-md-4 frontStageBtn" href="home.html">前台</a>
            
            <a class="col-12 col-md-12 wrapGreen" href="home.html">
                <img class="planetG" src="img/leading/planetGreen.png" alt="">
                <img class="rocketRed" src="img/leading/rocketRed.png" alt="">
            </a>
        </div>

        <div class="backStage col-6 col-md-6">
            <a class="col-10 col-md-4 backStageBtn" href="back/login.html">後台</a>
            <a class="col-12 col-md-12 wrapRed" href="back/login.html">
                <img class="planetR" src="img/leading/planetRed.png" alt="">
                <img class="rocketBlue" src="img/leading/rocketBlue.png" alt="">
            </a>
        </div>
    </div>
</section>