<section class="leading">
    <div class="container">
        <div class="logo col-12 col-md-12">
            <div class="bounceIn wrapLogo">
                <img src="img/leading/logo.png" alt="">
            </div>
        </div>

        <div class="planetsWrap">
        	<div class="frontStage col-6 col-md-6">
                
                <a class="col-12 col-md-12 wrapGreen" href="home.html">
                    <img class="planetG" src="img/leading/planetGreen.png" alt="">
        	        <img class="rocketRed" src="img/leading/rocketRed.png" alt="">
        	    </a>
                <a class="frontStageBtn" href="home.html">前台</a>
        	</div>
        	<div class="backStage col-6 col-md-6">
                <a class="col-12 col-md-12 wrapRed" href="back/login.html">
        	        <img class="planetR" src="img/leading/planetRed.png" alt="">
        	        <img class="rocketBlue" src="img/leading/rocketBlue.png" alt="">
        	    </a>
                <a class="backStageBtn" href="back/login.html">後台</a>
            </div>
        </div>
    </div>
    <img class="char" src="img/leading/char.png" alt="char">
    <!-- <div class="speedWrap"> -->
        <!-- <img class="speed" src="img/leading/speed.png" alt="speed"> -->
    <!-- </div> -->
</section>