<div id="loginBox">
    <div id="loginBoxClose"></div>
    <section class="loginPage">
        <div class="loginlogo">
            <img src="img/header/logo.png">
        </div>
        <form action="#" method="post">
            <table class="loginInfo">
                <tr>
                    <td class="memInfoBox">
                        <div class="memInfoBoxPic">
                            <img src="img/user.png">
                        </div>
                        <input type="text" placeholder="User" maxlength="15" id="memId" name="memId">
                        <div class="memInfoClear"></div>
                    </td>
                </tr>
                <tr>
                    <td class="memInfoBox">
                        <div class="memInfoBoxPic">
                            <img src="img/unlock.png">
                        </div>
                        <input type="password" placeholder="Password" maxlength="15" id="memPsw" name="memPsw">
                        <div class="memInfoClear"></div>
                    </td>
                </tr>
            </table>
            <div id="submitBtn" class="yellowButton">登入</div>
            <div id="registeredBtn">註冊帳號</div>
        </form>
    </section>
    @@include('roleCreate.html')
    <section class="registerPage">
        <h3 class="registerTittle">會員資料填寫</h3>
        <table class="registerInfo">
            <tr>
                <th>會員帳號</th>
                <td><input type="text" id="mem_id" placeholder="4~12位英文字母、數字" maxlength="12"></td>
            </tr>
            <tr>
                <th>
                    <div class="memIdCheckPic">
                        <img src="img/registeredMagnifier.png">
                    </div>
                </th>
                <td><input type="button" id="memIdCheck" value="檢查帳號是否可以使用"></td>
            </tr>
            <tr>
                <th>會員密碼</th>
                <td><input type="text" id="mem_psw" placeholder="4~12位英文字母、數字" maxlength="12"></td>
            </tr>
            <tr>
                <th>確認密碼</th>
                <td><input type="text" id="pswChecked" placeholder="再次確認密碼" maxlength="12"></td>
            </tr>
            <tr>
                <th>會員暱稱</th>
                <td><input type="text" id="mem_name" placeholder="會員暱稱"></td>
            </tr>
            <tr>
                <th>行動電話</th>
                <td><input type="text" id="mem_cell" placeholder="Ex: 0912345678"></td>
            </tr>
            <tr>
                <th>電子信箱</th>
                <td><input type="text" id="mem_email" placeholder="輸入E-mail須包括(@和.)"></td>
            </tr>
        </table>
        <div id="registerSubmit" type="button">確認送出</div>
    </section>
</div>