    <section class="member">
        <div class="container">
            <div id="loginBox" style="display: none;">
                <div id="loginBoxClose"></div>
                <section class="loginPage" style="display: block;">
                    <div class="loginlogo">
                        <img src="img/header/logo.png">
                    </div>
                    <form action="#" method="post">
                        <table class="loginInfo">
                            <tbody>
                                <tr>
                                    <td class="memInfoBox">
                                        <div class="memInfoBoxPic">
                                            <img src="img/user.png">
                                        </div>
                                        <input type="text" placeholder="User" maxlength="15" id="memId" name="memId">
                                        <div class="memInfoClear"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="memInfoBox">
                                        <div class="memInfoBoxPic">
                                            <img src="img/unlock.png">
                                        </div>
                                        <input type="password" placeholder="Password" maxlength="15" id="memPsw"
                                            name="memPsw">
                                        <div class="memInfoClear"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="submitBtn" class="yellowButton">登入</div>
                        <div id="registeredBtn">註冊帳號</div>
                    </form>
                </section>
                <section class="roleCreate" style="display: none;">
                    <div class="container">
                        <div class="createRow">
                            <div class="roleCreated">
                                <div class="createCan">
                                    <img src="img/role/createRoleCan.png" alt="罐子">
                                    <div class="createRole">
                                        <div class="createLaser"></div>
                                        <div class="roleBody roalFloat">
                                            <img src="img/role/raceMeowBody.png" alt="我來組成身體"
                                                class="partColored createBodyImg">
                                            <div class="rolePart">
                                                <img src="img/role/raceMeowPart.png" alt="我來組成不變色的部分"
                                                    class="createPartImg">
                                            </div>
                                            <div class="roleLeftHand">
                                                <img src="img/role/raceMeowLeftHand.png" alt="我來組成左手"
                                                    class="partColored createLeftHandImg">
                                            </div>
                                            <div class="roleRightHand">
                                                <img src="img/role/raceMeowRightHand.png" alt="我來組成右手"
                                                    class="partColored createRightHandImg">
                                            </div>
                                        </div>
                                        <div class="roleShadow"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="createOpts">
                                <h3 class="createOptsTitle createOpt">創造你的角色</h3>
                                <div class="createRoleNickname createOpt">
                                    <h4 class="createOptTitle">暱稱</h4>
                                    <input type="text" class="createNicknameText">
                                </div>
                                <div class="createRoleRaces createOpt">
                                    <h4 class="createOptTitle">種族</h4>
                                    <div class="createRaceOpts">
                                        <!-- <div class="createRace">
                                                <div class="createRaceImg">
                                                    <div class="roleBody">
                                                        <img src="img/role/raceMeowBody.png" alt="我來組成身體" class="raceBodyImg">
                                                        <div class="rolePart">
                                                            <img src="img/role/raceMeowPart.png" alt="我來組成不變色的部分" class="racePartImg">
                                                        </div>
                                                        <div class="roleLeftHand">
                                                            <img src="img/role/raceMeowLeftHand.png" alt="我來組成左手" class="raceLeftHandImg">
                                                        </div>
                                                        <div class="roleRightHand">
                                                            <img src="img/role/raceMeowRightHand.png" alt="我來組成右手" class="raceRightHandImg">
                                                        </div>
                                                    </div>
                                                    <h5>喵星人</h5>
                                                </div>
                                            </div>
                                            <div class="createRace">
                                                <div class="createRaceImg">
                                                    <div class="roleBody">
                                                        <img src="img/role/raceDevilBody.png" alt="我來組成身體" class="raceBodyImg">
                                                        <div class="rolePart">
                                                            <img src="img/role/raceDevilPart.png" alt="我來組成不變色的部分" class="racePartImg">
                                                        </div>
                                                        <div class="roleLeftHand">
                                                            <img src="img/role/raceDevilLeftHand.png" alt="我來組成左手" class="raceLeftHandImg">
                                                        </div>
                                                        <div class="roleRightHand">
                                                            <img src="img/role/raceDevilRightHand.png" alt="我來組成右手"
                                                                class="raceRightHandImg">
                                                        </div>
                                                    </div>
                                                    <h5>地獄男孩</h5>
                                                </div>
                                            </div>
                                            <div class="createRace">
                                                <div class="createRaceImg">
                                                    <div class="roleBody">
                                                        <img src="img/role/raceAlexBody.png" alt="我來組成身體" class="raceBodyImg">
                                                        <div class="rolePart">
                                                            <img src="img/role/raceAlexPart.png" alt="我來組成不變色的部分" class="racePartImg">
                                                        </div>
                                                        <div class="roleLeftHand">
                                                            <img src="img/role/raceAlexLeftHand.png" alt="我來組成左手" class="raceLeftHandImg">
                                                        </div>
                                                        <div class="roleRightHand">
                                                            <img src="img/role/raceAlexRightHand.png" alt="我來組成右手" class="raceRightHandImg">
                                                        </div>
                                                    </div>
                                                    <h5>深海閻王</h5>
                                                </div>
                                            </div> -->
                                        <!-- <input type="hidden" class="createRoleNo" value="1"> -->
                                        <input type="hidden" class="createRoleNo" value="null"></div>
                                </div>
                                <div class="createRoleColor createOpt">
                                    <h4 class="createOptTitle">顏色</h4>
                                    <input type="range" name="" id="" class="createColorBar" min="0" max="359" step="1"
                                        value="0">
                                </div>
                                <div class="createConfirmBtn">
                                    儲存並開始註冊
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="registerPage" style="display: none;">
                    <h3 class="registerTittle">會員資料填寫</h3>
                    <table class="registerInfo">
                        <tbody>
                            <tr>
                                <th>會員帳號</th>
                                <td><input type="text" id="mem_id" placeholder="4~12位英文字母、數字" maxlength="12"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td><input type="button" id="memIdCheck" value="檢查帳號是否可以使用"></td>
                            </tr>
                            <tr>
                                <th>會員密碼</th>
                                <td><input type="text" id="mem_psw" placeholder="4~12位英文字母、數字" maxlength="12"></td>
                            </tr>
                            <tr>
                                <th>確認密碼</th>
                                <td><input type="text" id="pswChecked" placeholder="再次確認密碼" maxlength="12"></td>
                            </tr>
                            <tr>
                                <th>會員暱稱</th>
                                <td><input type="text" id="mem_name" placeholder="會員暱稱"></td>
                            </tr>
                            <tr>
                                <th>行動電話</th>
                                <td><input type="text" id="mem_cell" placeholder="Ex: 0912345678"></td>
                            </tr>
                            <tr>
                                <th>電子信箱</th>
                                <td><input type="text" id="mem_email" placeholder="輸入E-mail須包括(@和.)"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="registerSubmit" type="button">確認送出</div>
                </section>
            </div>
            <div class=" wrapAvatar col-12 col-md-12 col-lg-4">
                <div class="avatarContent">
                    <div class="avatarImage">
                        @@include('memberRole.html')
                    </div>
                    <div class="avatarHeading col-12 col-md-12">
                        <div class="headingWrap">
                            <div class="imgWrap col-2 col-md-2">
                                <img src="img/member/user.svg" alt="角色名稱">
                            </div>
                            <div class="titleWrap col-7 col-md-7">
                                <p>角色名稱 : <span class="set_nickname"></span></p>
                            </div>
                        </div>
                        <div class="headingWrap">
                            <div class="imgWrap col-2 col-md-2">
                                <img src="img/member/pin-01.svg" alt="角色稱號">
                            </div>
                            <div class="titleWrap col-7 col-md-7">
                                <p>腳色稱號 : <span>英文大師</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" wrapDataEdit col-12 col-md-12 col-lg-7">
                <div class="wrapDataContentHeader col-md-12">
                    <div class="dataContentTitle col-12 col-md-4">
                        <img src="img/member/dataHeaderDeco.svg" alt="dataHeaderDeco">
                        <span>會員基本資料</span>
                    </div>
                    <div class="dataContentMoney col-12 col-md-3">
                        <img src="img/member/money.svg" alt="money">
                        <span>GEM:</span>
                        <span class="mem_money"></span>
                    </div>
                </div>
                <div class="wrapDataContent col-12 col-md-12">
                    <div class="wrapDataContentL col-12 col-md-6">
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員編號 :</label>
                            <span class="col-md-5 mem_no"></span>
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">英文等級 :</label>
                            <span class="col-md-5 level_no"></span>
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem wrapEditIcon">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員姓名 :</label>
                            <input class="col-5 col-md-5 col-lg-5 col-xl-5 mem_name memDatalock" disabled type="text"
                                value="">
                            <img src="img/member/pencil.png" class="memDataEdit" alt="editIcon">
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem wrapEditIcon">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">角色名稱 :
                            </label>
                            <input class="col-5 col-md-5 col-lg-5 col-xl-5 set_nickname memDatalock" disabled
                                type="text" value="">
                            <img src="img/member/pencil.png" class="memDataEdit" alt="editIcon">
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員帳號 : </label>
                            <span class="col-md-5 mem_id"></span>
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem wrapEditIcon">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員密碼 :
                            </label>
                            <input class="col-5 col-md-5 col-lg-5 col-xl-5 mem_psw memDatalock" disabled type="text"
                                value="">
                            <img src="img/member/pencil.png" class="memDataEdit" alt="editIcon">
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem wrapEditIcon">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員信箱 :
                            </label>
                            <input class="col-5 col-md-5 col-lg-5 col-xl-5 mem_email memDatalock" disabled type="text"
                                value="">
                            <img src="img/member/pencil.png" class="memDataEdit" alt="editIcon">
                        </div>
                    </div>
                    <div class="wrapDataContentR col-12 col-md-6">
                        <div class="col-12 col-md-12 wrapDataItem wrapEditIcon">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員電話 :
                            </label>
                            <input class="col-5 col-md-5 col-lg-5 col-xl-5 mem_cell memDatalock" disabled type="text"
                                value="">
                            <img src="img/member/pencil.png" class="memDataEdit" alt="editIcon">
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">會員狀態 : </label>
                            <span class="col-md-5 mem_status"></span>
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">連續登入 : </label>
                            <span class="col-md-5 mem_continue"></span>
                        </div>
                        <div class="col-12 col-md-12 wrapDataItem">
                            <label class="col-5 col-md-5 col-lg-5 col-xl-5">最後登入 : </label>
                            <span class="col-md-5 mem_last_lgn"></span>
                        </div>
                    </div>
                </div>
                <div class="wrapDataContentDeco col-md-12"></div>
                <div class="wrapDataContentButton col-md-12">
                    <button class="dataContentButtonConfirm" type="submit">確認</button>
                    <button class="dataContentButtonCancel" type="reset">取消</button>
                </div>
            </div>
            <div class="wrapTab col-12 col-md-12">
                <div class="wrapTabContent col-md-12">
                    <ul class="tabBookmark">
                        <li class="col-5 col-md-2"><a href="#tabAct">活動日程</a></li>
                        <li class="col-5 col-md-2"><a href="#tabVideoCol">影片收藏</a></li>
                        <li class="col-5 col-md-2"><a href="#tabAch">成就一覽</a></li>
                        <!-- <li class="col-5 col-md-2"><a href="#tabReward">問題懸賞</a></li> -->
                    </ul>
                    <div id="tabAct" class="tabInner">
                        <h2 class="col-md-12 col-12">活動日程一覽表</h2>
                        <div id="calendar" class="col-12 col-md-6"></div>
                        <div class="actContent col-12 col-md-5">
                            <!-- <h2>活動主題:一起學英文</h2>
                            <ul class="col-12 col-md-10">
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 發起人員 : </p><span class="col-12 col-md-12">Tony</span>
                                </li>
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 公告日期 : </p><spanclass="col-12 col-md-12">2019/09/30</span>
                                </li>
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 活動時間 : </p><span
                                        class="col-12 col-md-12">2020/09/30</span>
                                </li>
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 活動地點 : </p><span
                                        class="col-12 col-md-12">桃園市中壢區中大路15號</span>
                                </li>
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 活動內容 : </p><span
                                        class="col-12 col-md-12">不管男女老少一起來學英文</span>
                                </li>
                                <li class="col-12 col-md-12">
                                    <p class="col-12 col-md-6"> 報名人數 : </p><span class="col-12 col-md-12">10/15人</span>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <div id="tabVideoCol" class="tabInner">
                        <div id="videoContent" class="tabInner">
                            <div class="videoAll">
                                <!-- <a href="#" class="videoItem col-12 col-md-3">
                                    <div class="imgWrap">
                                        <img src="img/member/video.png" alt="">
                                    </div>
                                    <h3>影片名稱</h3>
                                    <span class="videoLv">初級</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div id="tabAch" class="tabInner">
                        <h2>成就一覽標題</h2>
                        <div class="achAll">
                            <!-- <div class="achItem col-6 col-md-3">
                                <img src="img/member/medal.svg" alt="">
                                <p>初心者的</p>
                                <div class="achCondition" >
                                    <span class="ach_con">達成條件</span>
                                    <p class="ach_conContent">123</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div id="tabReward" class="tabInner">
                        <ul class="tabBookmark">
                            <li><a href="#tabQuestions">我的問題</a></li>
                            <li><a href="#tabAnswers">我的回答</a></li>
                        </ul>
                        <div id="tabQuestions" class="tabInner">
                            <h2>我的問題清單</h2>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabAnswers" class="tabInner">
                            <h2>我的答題清單</h2>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="qnaListContent">
                                <div class="listWrap">
                                    <div class="imgWrap"><img src="img/member/cat.png" alt="character" /></div>
                                    <div class="info">
                                        <div class="bounty">
                                            <div class="imgWrap"><img src="img/member/money.svg" alt="money" /></div>
                                            <span>1000</span>
                                        </div>
                                        <div class="ansNum"><span>0</span>回答</div>
                                    </div>
                                </div>
                                <div class="questionTitle">
                                    <span class="qNum">Q1</span>
                                    <h4>
                                        How to connect two DB via MySQl in PHP and fetch Lorem ipsum
                                        dolor sit amet consectetur, adipisicing elit. Laboriosam,
                                        aspernatur.
                                    </h4>
                                    <div class="listTimeNButton">
                                        <span id="ask" class="askTime">asked 2 mins</span>
                                        <div class="yellowButton"><a href="#">點我看更多</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    