<div class="qnaList">
    <div class="qnaListTitle"><div class="imgTextbook"><img src="img/forum/testbook.svg" alt="testbook"></div><h3>《熱門話題列表》</h3><div class="imgTextPink"><img src="img/forum/textpink.svg" alt=""></div></div>
    <div class="qnaListContent">
      <div class="listWrap">
        <div class="imgWrap memPic"><img src="img/forum/character.svg" alt="character" /></div>
        <div class="info">
          <div class="bounty">
            <div class="imgWrap"><img src="img/forum/money.svg" alt="money" /></div><span
              >1000</span
            >
          </div>
          <div class="ansNum"><span>0</span>回答</div>
        </div>
      </div>
      <div class="questionTitle">
        <span class="qNum">Q1</span>
        <a href="#">
          <h4>
            How to connect two DB via MySQl in PHP and fetch Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Laboriosam,
            aspernatur.
          </h4>
        </a>
        <div class="listTimeNButton">
          <span id="ask" class="askTime">asked 2 mins</span>
          <div class="yellowBtn">挑戰回答</div>
        </div>
      </div>
    </div>
    <div class="qnaListContent">
      <div class="listWrap">
       <div class="imgWrap memPic"> <img src="img/forum/character.svg" alt="character" /></div>
        <div class="info">
          <div class="bounty">
           <div class="imgWrap"> <img src="img/forum/money.svg" alt="money" /></div><span
              >1000</span
            >
          </div>
          <div class="ansNum"><span>0</span>回答</div>
        </div>
      </div>
      <div class="questionTitle">
        <span class="qNum">Q1</span>
        <a href="#">
          <h4>
            How to connect two DB via MySQl in PHP and fetch Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Laboriosam,
            aspernatur.
          </h4>
        </a>
        <div class="listTimeNButton">
          <span id="ask" class="askTime">asked 2 mins</span>
          <div class="yellowBtn">挑戰回答</div>
        </div>
      </div>
    </div>
    <div class="qnaListContent">
      <div class="listWrap">
        <div class="imgWrap memPic"><img src="img/forum/character.svg" alt="character"/></div>
        <div class="info">
          <div class="bounty">
           <div class="imgWrap"> <img src="img/forum/money.svg" alt="money" /></div><span
              >1000</span
            >
          </div>
          <div class="ansNum"><span>0</span>回答</div>
        </div>
      </div>
      <div class="questionTitle">
        <span class="qNum">Q1</span>
        <a href="#">
          <h4>
            How to connect two DB via MySQl in PHP and fetch Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Laboriosam,
            aspernatur.
          </h4>
        </a>
        <div class="listTimeNButton">
          <span id="ask" class="askTime">asked 2 mins</span>
          <div class="yellowBtn">挑戰回答</div>
        </div>
      </div>
    </div>
    <div class="indexBtnWrap"><div class="gButton"><a href="forum.html"></a>
      我要提問</div></div>
    
  </div>