<section class="sectionRole">
    <div class="container">
        <div class="roleManageCol">
            <div class="roleManageCan">
                <img src="img/role/createRoleCan.png" alt="罐子">
                @@include('memberRole.html')
                <div class="roleShadow"></div>
            </div>
        </div>
        <div class="roleInfos">
            <h3 class="equippedTitle">裝備中</h3>
            <div class="equippedList">
                <div class="listTitle">
                    防具
                </div>
                <div class="listTitle">
                    武器
                </div>
                <div class="listTitle">
                    飾品
                </div>
            </div>
            <div class="equippedItems">
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>衣服</h5>
                </div>
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>武器</h5>
                </div>
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>飾品</h5>
                </div>
            </div>
            <div class="closets">
                <div class="closetsClose">X</div>
                <div class="closetsTitle">
                    <img src="img/role/createRoleCan.png" alt="更衣室Icon" class="closetsIcon">
                    <h3>我的裝備庫</h3>
                </div>
                <div class="closetsTabs">
                    <h4 class="closetTab closetClothesTab">防具庫</h4>
                    <h4 class="closetTab closetWeaponsTab">武器庫</h4>
                    <h4 class="closetTab closetAccessoriesTab">飾品庫</h4>
                </div>
                <div class="closetClothes closet">
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                </div>
                <div class="closetWeapons closet">
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                </div>
                <div class="closetAccessories closet">
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的飾品</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                </div>
            </div>
            <div class="stores">
                <div class="storesClose">X</div>
                <div class="storesTitle">
                    <img src="img/role/createRoleCan.png" alt="商店Icon" class="storesIcon">
                    <h3>星際商店</h3>
                </div>
                <div class="storesTabs">
                    <h4 class="storeTab storeClothesTab">防具商店</h4>
                    <h4 class="storeTab storeWeaponsTab">武器商店</h4>
                    <h4 class="storeTab storeAccessoriesTab">飾品商店</h4>
                </div>
                <div class="storeClothes store">
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                </div>
                <div class="storeWeapons store">
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                </div>
                <div class="storeAccessories store">
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的飾品</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                        <div class="purchaseBtn">購買</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
