<section class="sectionRole">
    <div class="container">
        <div class="roleManageCol">
            <div class="roleManageCan">
                <img src="img/role/createRoleCan.png" alt="罐子">
                @@include('memberRole.html')
                <div class="roleShadow"></div>
            </div>
        </div>
        <div class="roleInfos">
            <h3 class="equippedTitle">裝備中</h3>
            <div class="equippedList">
                <div class="listTitle">
                    武器
                </div>
                <div class="listTitle">
                    防具
                </div>
                <div class="listTitle">
                    飾品
                </div>
            </div>
            <div class="equippedItems">
                <div class="equippedItem equippedWeapon">
                    <div class="equippedImg">
                        <img src="" alt="">
                    </div>
                    <h5></h5>
                    
                </div>
                <div class="equippedItem equippedCloth">
                    <div class="equippedImg">
                        <img src="" alt="">
                    </div>
                    <h5></h5>
                </div>
                <div class="equippedItem equippedAccessory">
                    <div class="equippedImg">
                        <img src="" alt="">
                    </div>
                    <h5></h5>
                </div>
            </div>
            <div class="closets">
                <div class="closetsClose">X
                </div>
                <div class="closetsTitle">
                    <img src="img/role/roleClosets.png" alt="裝備庫" class="closetsIcon">
                    <h3 class="closetsTitleForHover">我的裝備庫</h3>
                    <h3 class="closetsTitleForNormal">我的裝備庫</h3>
                </div>
                <div class="closetsTabs">
                    <h4 class="closetTab closetClothesTab">武器</h4>
                    <h4 class="closetTab closetWeaponsTab">防具</h4>
                    <h4 class="closetTab closetAccessoriesTab">飾品</h4>
                </div>
                <div class="closetFrame">
                    <div class="closetClothes closet">
                    <!-- <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div> -->
                    </div>
                    <div class="closetWeapons closet">
                    <!-- <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div> -->
                    </div>
                    <div class="closetAccessories closet">
                    <!-- <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的飾品</h5>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div> -->
                    </div>
                </div>
            </div>
            <div class="stores">
                <div class="storesClose">X
                </div>
                <div class="storesTitle">
                    <img src="img/role/roleStores.png" alt="商店" class="storesIcon">
                    <h3 class="storesTitleForHover">星際商城</h3>
                    <h3 class="storesTitleForNormal">星際商城</h3>
                </div>
                <div class="storesTabs">
                    <h4 class="storeTab storeClothesTab">武器</h4>
                    <h4 class="storeTab storeWeaponsTab">防具</h4>
                    <h4 class="storeTab storeAccessoriesTab">飾品</h4>
                </div>
                <div class="storeFrame">
                    <div class="storeClothes store">
                        
                    <!-- <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div>
                    <div class="clothItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                    </div> -->
                    </div>
                
                    <div class="storeWeapons store">
                    <!-- <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="weaponItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div> -->
                    </div>
                    <div class="storeAccessories store">
                    <!-- <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的飾品</h5>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div>
                    <div class="accessoryItem item">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的武器</h5>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
