<section class="sectionRole">
    <div class="container">
        <div class="roleManageCol">
            <div class="roleManageCan">
                <img src="img/role/createRoleCan.png" alt="罐子">
                @@include('memberRole.html')
                <div class="roleShadow"></div>
            </div>
        </div>
        <div class="roleInfos">
            <h3 class="equippedTitle">裝備中</h3>
            <div class="equippedList">
                <div class="listTitle">
                    防具
                </div>
                <div class="listTitle">
                    武器
                </div>
                <div class="listTitle">
                    飾品
                </div>
            </div>
            <div class="equippedItems">
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>衣服</h5>
                </div>
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>武器</h5>
                </div>
                <div class="equippedItem">
                    <div class="equippedImg">
                        <img src="img/role/weaponGuitar.png" alt="">
                    </div>
                    <h5>飾品</h5>
                </div>
            </div>
            <div class="closets">
                <div class="closetsTitle">
                    <img src="img/role/createRoleCan.png" alt="更衣室Icon" class="closetsIcon">
                    <h3>更衣室</h3>
                    <div class="closetsClose">X</div>    
                </div>
                <div class="closetsTabs">
                    <h4 class="closetTab closetClothesTab">防具</h4>
                    <h4 class="closetTab closetWeaponsTab">武器</h4>
                    <h4 class="closetTab closetAccessoriesTab">飾品</h4>
                </div>
                <div class="closetClothes">
                    <div class="clothItem">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="clothItem">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                    <div class="clothItem">
                        <img src="img/role/weaponGuitar.png" alt="">
                        <h5>曜駿的吉他</h5>
                        <!-- <div class="purchaseBtn">購買</div> -->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
