<div class="videoContent">
    <div class="videoContainer">
        <ul id="forumBreadcrumb">
            <li><a href="home.html"><span class="icon icon-home"></span>En-Galaxy</a></li>
            <li><a href="videoList.html"><span class="icon icon-double-angle-right"></span>影片列表</a></li>
            <li><a href="javascript:;"><span class="icon icon-double-angle-right">學習影片</span></a></li>
            <!-- <li><a href="forumQA.html"><span class="icon icon-rocket"></span>問題詳情</a></li> -->
        </ul>
        <section class="videoCont">
            <div class="videoBox">
                <p>
                    影片類別<span class="tag"><a href="javascript:;" id="videoType">影劇</a></span>
                </p>
                <p id="videoLevel">
                    影片級別：初級
                </p>
                <h3 id="videoTitle">聊天須知！假期和休閒娛樂怎麼說？</h3>
                <h4 id="videoSecondTitle">(Study English - Series 3, Episode 22: Talking About Holidays
                    and Leisure Time)</h4>
                <div class="videoFrame">
                    <div class="frameImg">
                        <video controls>
                            <source id="video"  type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="videoWord">
                <h3>
                    <div class="film">
                        <img src="img/video/film.png" alt="加入影片收藏">
                    </div>&nbsp;&nbsp;
                    <div id="favorateVideoAdd">加入影片收藏</div>
                </h3>
                <div class="enFrame">
                    <!-- available on Digital in HD and 4K Ultra HD and
                    Movies Anywhere!
                    time. Bring home the ultimate
                    time heist because Avengers: Endgame is NOW -->
                </div>
            </div>
        </section>
        <section class="videoImpot">
            <h3>
                <div class="star"><img src="img/video/star.png" alt="影片單字學習重點"></div>&nbsp;&nbsp;影片單字學習重點
            </h3>
            <div class="videoVoc">

                <div class="vocText">
                    <div class="vocP">
                        <p>1. <span class="importantVocab">accord</span> (v.) 一致,符合,和諧,協調;給予,使一致;自願,主動</p>
                    </div>
                    <div class="addImg">
                        <a class="addVocab" href="javascript:;"><img src="img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                        <p>2. <span class="importantVocab">universe</span> (n.) 宇宙；天地萬物；萬象</p>
                    </div>
                    <div class="addImg">
                        <a class="addVocab" href="javascript:;"><img src="img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                        <p>3. <span class="importantVocab">exist</span> (v.) 存在；實際上有</p>
                    </div>
                    <div class="addImg">
                        <a class="addVocab" href="javascript:;"><img src="img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                        <p>4. <span class="importantVocab">country</span> (n.) 國家；國土</p>
                    </div>
                    <div class="addImg">
                        <a class="addVocab" href="javascript:;"><img src="img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
                <div class="vocText">
                    <div class="vocP">
                        <p>5. <span class="importantVocab">native</span> (adj.) 出生國的；出生地的；土生土長的</p>
                    </div>
                    <div class="addImg">
                        <a class="addVocab" href="javascript:;"><img src="img/video/add.png" alt="收藏單字"><span>&nbsp;&nbsp;字卡</span></a>
                    </div>
                </div>
            </div>
        </section>
        <section class=viseoQuiz>

            <h3>
                <div class="quizImg">
                    <img src="img/video/quiz.png" alt="影片測驗專區">
                </div>
                &nbsp;&nbsp;影片測驗專區
            </h3>

            <div class="videoQuizwrap">
                <div class="writingCat"><img src="img/video/catVedio.png" alt="愛唸書的Tony貓" /></div>
<!-- 
                <h2>主題：聊天須知！假期和休閒娛樂怎麼說？</h2>
                <p>(Study English - Series 3, Episode 22: Talking About Holidays and Leisure Time)</p> -->
                <p class="questNote">For the questions below, please choose the best option to complete the sentence or
                    conversation.</p>
                <p class="quizPage">Page 1 of 3</p>

                <!-- 進度條 -->
                <div class="progress-wrap progress" data-progress-percent="33">
                    <div class="progress-bar progress"></div>
                </div>
                <div class="quizHost">
                <span class="quizList">1</span>&nbsp;&nbsp;
                <p id="videoQTitle">Look at the picture. The mother duck is __________ the baby ducks across the street.</p>
                </div>
                <div class="quizAnsWrap">
                    <l class="quizAnsAll">
                        <label class="quizAns opt_1">
                            <input type="radio" name="myAns" value="carrying">
                            &nbsp;&nbsp;carrying
                        </label>
                        <label class="quizAns opt_2">
                            <input   type="radio" name="myAns" value="dog">
                            &nbsp;&nbsp;dog
                        </label>
                        <label class="quizAns opt_3">
                            <input type="radio" name="myAns" value="cat">
                            &nbsp;&nbsp;cat
                        </label>
                        <label class="quizAns opt_4">
                            <input type="radio" name="myAns" value="pig">
                            &nbsp;&nbsp;pig
                        </label>
                    </div>
                       
                        <div class="quizBtnWrap">
                                <div class="quizPre">上一題</div>
                                <div class="quizNext">下一題</div>
                        </div>
                        <div class="clearfix"></div>
                </div>
                
            </div>
        </section>
        <section class="videoTest">
            <h3>
                <div class="glass"><img src="img/video/glass.png" alt="英文學習專區"></div>&nbsp;&nbsp;英文測驗專區
            </h3>
            <div class="videoTotest">
                <div class="videoTestGame p19">
                    <a href="http://140.115.236.71/demo-projects/DD102/DD102G4/game.html">進入闖關挑戰
                        <div class="s1"></div>
                        <div class="s2"></div>
                    </a>
                </div>
                <div class="videoTestCard p19">
                    <a href="http://140.115.236.71/demo-projects/DD102/DD102G4/card.html">進入單字挑戰
                        <div class="s1"></div>
                        <div class="s2"></div>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <!-- <div class="videoTranslateWindowWrap"> -->
        <div class="videoTranslateWindow">
            <h3 class="translateTitle">Tanslate</h3>
            <h2 class="translateVocab"></h2>
            <div class="translateContent">翻譯</div>
            <div class="closeWrap">
                <div class="translateButton">加入字卡</div>
            </div>
            <div class="translateClose"></div>
        </div>
    <!-- </div> -->
</div>