<div class="videoList_wrap">
    <div class="container">
        <div class="bread">
            <ul id="forumBreadcrumb">
                <li><a href="home.html"><span class="icon icon-home"></span>En-Galaxy</a></li>
                <li><a href="videoList.html"><span class="icon icon-double-angle-right"></span>影片列表</a></li>
                <!-- <li><a href="forumQA.html"><span class="icon icon-rocket"></span>問題詳情</a></li> -->
            </ul>
        </div>
        <div class="videoBg">
            <input type="checkbox" id="idBasic">
            <input type="checkbox" id="idMid">
            <input type="checkbox" id="idHigh">
            <div class="videoListwp">
                <div class="videoList">
                    <h3>影片分類</h3>&nbsp;&nbsp;
                    <ul>
                        <li><label for="idBasic" class="tagRed">初級</label></li>
                        <li><label for="idMid" class="tagBlue">中級</label></li>
                        <li><label for="idHigh" class="tagGreen">高級</label></li>
                        <li><label class="tagYellow">全部</label></li>
                    </ul>
                </div>
                <!-- <div class="videoHot">
                    <span><a href="javascript:;">人氣排行榜</a></span>
                    <span><a href="javascript:;">最新影片</a></span>
                </div> -->
            </div>
            
            <div class="videoRow">
            <h3>音樂類</h3>
            </div>

            <div id="musicVideos" class="videoAll">
                <!-- 
                    <div class="videoFrame videoToBig">
                        <a  href="video.html"><div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                        <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                        <div class="video_tag">初級</div>
                        </div></a>
                    </div>

                    <div class="videoFrame videoToBlur">
                        <a href="video.html">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="video_tag">初級</div>
                            </div>
                        </a>
                    </div>

                    <div class="videoFrame">
                        <a href="video.html">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="video_tag">初級</div>
                            </div>
                        </a>
                    </div>

                    <div class="videoFrame">
                        <a href="video.html">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="video_tag">初級</div>
                            </div>
                        </a>
                    </div> -->
                    
            </div>


            <div class="videoRow">
                    <h3 class="videoBlue">影劇類
                    </h3>
            </div>
                
            <div id="showVideos" class="videoAll">
                
                    <!-- <div class="videoFrame">
                        <a href="javascript:;">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="videoTagb">中級</div>
                            </div>
                        </a>
                    </div>
                    <div class="videoFrame">
                        <a href="javascript:;">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="videoTagb">中級</div>
                            </div>
                        </a>
                    </div>
                
                    <div class="videoFrame">
                        <a href="javascript:;">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="videoTagb">中級</div>
                            </div>
                        </a>
                    </div>
                
                    <div class="videoFrame">
                        <a href="javascript:;">
                            <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                                <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                                <div class="videoTagb">中級</div>
                            </div>
                        </a>
                    </div>
                 -->
            </div>
            
            <div class="videoRow">
                <h3 class="videoGreen">新聞類</h3>
            </div>
            
            <div id="newsVideos" class="videoAll">
<!--             
                <div class="videoFrame">
                    <a href="javascript:;">
                        <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                            <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                            <div class="videoTaggreen">高級</div>
                        </div>
                    </a>
                </div>
                <div class="videoFrame">
                    <a href="javascript:;">
                        <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                            <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                            <div class="videoTaggreen">高級</div>
                        </div>
                    </a>
                </div>
            
                <div class="videoFrame">
                    <a href="javascript:;">
                        <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                            <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                            <div class="videoTaggreen">高級</div>
                        </div>
                    </a>
                </div>
            
                <div class="videoFrame">
                    <a href="javascript:;">
                        <div class="videoImg"><img src="img/video/video.png" alt="我是影片">
                            <p>這位名人喜愛的帽子設計師如何創造了如何創</p>
                            <div class="videoTaggreen">高級</div>
                        </div>
                    </a>
                </div>
            </div> 
             -->
        </div>
        <!-- <div class="catVideo"></div> -->
    </div>
</div>