body{
    background: no-repeat url(../img/index/bigBG.png);
    background-size: cover;
}
.cardStudy{
    width: 100%;
    background-image: url(../img/cardImg/cardBackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0;
    .container{
        max-width: 1200px;
        margin: auto;
    }
    .cardTitle{
        width: 75%;
        margin: auto;
        text-align: center;

        h2{
            color: $fcLight;
            background: no-repeat url(../img/cardImg/cardTitleBg.png);
            background-position: center;
            padding: 13px 0;
            margin-bottom: 40px;
        }
    }
    .cardContent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .cardSideBar{
        background: no-repeat url(../img/cardImg/cardClassBg.png);
        text-align: center;
        min-width: 275px;
        height: 580px;
        padding-top: 45px;
        .cardClassTitle, .cardClass, .cardClassEdit{
            cursor: pointer;
            color: $fcLight;
            margin: 0 auto;
            margin-bottom: 15px; 
            padding: 10px 0; 
            width: 230px;
            
        }
        .cardClassTitle{
            cursor: auto;
        }
        .cardClass, .cardClassEdit{
            border-radius: 10px;
            background-color: rgba(255,255,255,.2);
            position: relative;

            &:hover{
                color: $fcDark;
                background-color: #fff;
            }
        }
        .cardClassEdit{
            &::before{
                content: url(../img/cardImg/settings1.png);
                width: 30px;
                height: 30px;
                display: inline-block;
                position: absolute;
                left: 27px;
                top: -9px;
                transform: scale(0.05);
                filter: hue-rotate(90deg);
            }
        }
        .selectedCard{
            color: $fcDark;
            background-color: #fff;
        }
        .cannotUseCard{
            cursor: default;
            color: #999;
            &:hover{
                color: #999;
                background-color: rgba(255,255,255,.2);
            }
        }
    }
    .cardClassTitle{
        position: relative;
        &:before{
            content: '';
            width: 18px;
            height: 13px;
            background-color: #ccc;
            position: absolute;
            left: 56px;
            top: 10px;

        }
        &:after{
            content: '';
            width: 18px;
            height: 13px;
            position: absolute;
            border-left: #ccc 2px solid;
            border-bottom: #ccc 2px solid;
            left: 51px;
            top: 13px;

            // background-color: #ccc;
        }
    }
    .cardShow{
        min-width: 375px;
        width: 52.5%;
        height: 490px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .cardItem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 305px;
            background: url(../img/cardImg/card.png) no-repeat;
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            margin: auto;
        }
        
        @for $i from 1 through 5{
            & .cardItem:nth-of-type(#{$i}){
                transform: rotate(#{$i * 15 - 75}deg);
            }
        }
        p{
            color: $fcLight;
            margin-bottom: 5px;
        }
        span{
            font-size: 34px;
            color: $fcLight;
        }
        #cardStudyBtn{
            @include button();
            font-size: 24px;
            width: 96px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            &:hover{
                bottom: 0;
            }
        }
    }
}
.cardSideBar{//Side Bar List
    .cardClass{
        position: relative;
    }
    .cardClass:hover > ul{
        display: block;
    }
    ul{
        padding: 15px;
        display: none;
        width: 200px;
        height: 200px;
        overflow-y: scroll;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 5;
        li{
            max-width: 200px;
            padding: 10px;
            margin: auto;
            background-color: #fff;
            margin-bottom: 10px;
        }
    }
}

.cardStudyStart{
    // *{
        // outline: 1px solid green;
    // }
    text-align: center;
    background-color: rgba(255,255,255,.3);
    display: none;
    min-width: 375px;
    width: 60%;
    height: 490px;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    .explain{
        font-size: 14px;
        position: absolute;
        padding: 5px 10px;
        top: 20px;
        right: 10%;
        color: rgba(255, 255, 255, .7);
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        cursor: pointer;
        background: transparent;
        transition: all .3s;
    }
    .explain:hover{
        background: white;
        color: $fcDark;
    }
    .cardProgress{
            margin-bottom: 10px;
            text-align: center;
        p{
            padding-bottom: 20px;
        }
        .bar{
            max-width: 380px;
            width: 80%;
            height: 30px;
            margin: auto;
            background-color: #fff;
            border-radius: 14px;
            line-height: 41px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .red, .blue{
            display: inline-block;
            height: 24px;
            border-radius: 10px;
        }
        .red{
            margin-left: 3px;
            background: linear-gradient(180deg, #e59178 0%, #d34218 70%);
            transition: width .2s;
        }
        .blue{
            margin-right: 3px;
            background: linear-gradient(180deg, #7eb7e0 0%, #328ccd 70%);
            transition: width .2s;
        }
    }
    #cardQuit{
        @include button();
    }

    .cardStudyContent{
        display: flex;
        width: 100%;
        height: 370px;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
    }
    #forget{
        background-color: #fe560f;
        border: 1px solid white;
        transition: background-color .2s;
    }
    #remember{
        background-color: #3e97f4;
        border: 1px solid white;
        transition: background-color .2s;
    }
    #forget:hover{
        background-color: #d34218;
    }
    #remember:hover{
        background-color: #3ebaf4;        
    }
    // @at-root#cardDontRememberZone{
    //     width: 50%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    // }
    // @at-root#cardRememberZone{
    //     width: 50%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     z-index: -1;
    // }
    .cardWrap{
        width: 220px;
        height: 305px;
        position: relative;
    }
    .memoryCard{
        font-size: 30px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 220px;
        height: 305px;
        border-radius: 10px;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform:translate(0,0) rotate(0deg);
        -ms-transform:translate(0,0) rotate(0deg);
                transform:translate(0,0) rotate(0deg);
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.rotate{
            transform: rotateY(180deg);
        }
        .front, .back{
            width: 220px;
            height: 305px;
            text-align: center;
            border-radius: 10px;
            position: absolute;
            top: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .back{
            background: no-repeat url(../img/cardImg/card.png);
            line-height: 9;
            transform: rotateY(180deg);
        }
        .front{
            background-color: #FFF;
            color: #52257b;
            position: relative;
            .click{
                position: absolute;
                bottom: 12px;
                left: 0;
                right: 0;
                margin: auto;
            }
            p{
                transform: translateY(110px);
            }
            img{
                width: auto;
                display: block;
                margin: auto;
            }
            .ans{
                font-size: 16px;
                color: $fcDark;
            }
            .count{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 14px;
                color: black;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .cardSideBar{
        .cardClass:hover > ul{
            display: none;
        }
    }
    .cardStudyStart{
        .cardWrap{
            order: -1;
        }
        .cardStudyContent{
            flex-direction: column;
            #forget{
                transform: translate(-100px, 50px);
            }
            #remember{
                transform: translate(100px, 3px);
            }
        }
    }
}

.cardManage{
    display: none;
    box-sizing: border-box;
    width: 52.5%;
    min-width: 360px;
    height: 625px;
    padding: 20px 5px;
    padding-top: 25px;
    margin-left: 85px;
    justify-self: end;
    align-self: flex-end;
    // background-color: #ccc;
    .options{
        display: flex;
        justify-content: space-around;
        .picWrap{
            width: 106px;
        }
        .function{
            text-align: right;
            width: 470px;
            position: relative;
            @at-root .cardClassSelect{
                position: absolute;
                bottom: 110px;
                right: 0;
            }
        }
        .buttons{
            width: 100%;
            min-width: 340px;
            text-align: right;
            position: absolute;
            bottom: 50px;
            right: 0px;
            .btn{
                width: 32%;
                min-width: 110px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                display: inline-block;
                &::before{
                    display: inline-block;
                    // margin-right: 10px;
                    // margin-top: 3px;
                    transform: translate(-10px, 3.5px);   
                }
            }
            .btn:first-child{
                &:before{
                    content:url(../img/cardImg/plus.png);
                }
                background: linear-gradient(152deg, #cc3a4b 65%, #b53342 66%)
            }
            .btn:nth-child(2){
                &:before{
                    content:url(../img/cardImg/minus.png);
                }
                background: linear-gradient(152deg, #5fab29 65%, #519323 66%)
            }
            .btn:last-child{
                &:before{
                    content:url(../img/cardImg/pencil.png);
                }
                background: linear-gradient(152deg, #3e97f4 65%, #3888dc 66%)
            }
        }
    }
    .cards{
        width: 100%;
        height: 440px;
        padding: 20px;
        transform: translateY(-35px);
        background-color: #fff;
        box-sizing: border-box;
        ul{
            width: 100%;
            height: 92%;
            margin-bottom: 9px;
            // background-color: #aaa;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-evenly;
            align-content: flex-start;
            overflow-Y: scroll;
            li{
                text-align: center;
                box-sizing: border-box;
                min-width: 30%;
                background-color: #cbf;
                padding: 10px 15px;
                margin: 10px 1%;
                cursor: pointer;
                &.selected{
                    color: #fff;
                    background-color: rgb(125, 197, 74);
                }
            }
        }
        .buttons{
            display: flex;
            float: right;
            .btn{
                margin-right: 15px;
            }
            .btn:first-child{
                @include button;
            }
            .btn:last-child{
                @include button(#3d8cb0, #367e9f, $fcLight);
            }
            &::after{
                content: "";
                clear: both;
            }
        }
    }
    
}
#cardClassAddWindow{
    display: none;
    .window{
        label{
            display: block;
            width: 80%;
            padding: 15px 0;
            margin: auto;
        }
        #classAdd{
            margin-bottom: 23px;
        }
    }
}
#cardClassDeleteWindow{
    display: none;
    p{
        padding: 17px 0;
    }
    span{
        font-size: 2rem;
        display: inline-block;
        color: red;
        margin-bottom: 15px;
    }
}
#cardClassRenameWindow{
    display: none;
    label{
        display: block;
        padding: 15px 0;
    }
    span{
        color: green;
    }
    input{
        margin-bottom: 23px;
    }
}
.cardWindow{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    color: $fcDark;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    .window{
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        width: 300px;
        height: 210px;
        padding: 30px 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #fff;
    }
    .buttons{
        display: flex;
        justify-content: center;
        .confirm{
            @include button();
            margin-right: 15px;
        }
        .cancel{
            @include button(#3d8cb0, #367e9f, $fcLight);
        }
    }
    .close{
        @include cross(#ddd, $Purple, #ccc);
        top: -8px;
        right: -7px;
    }
}


.cardStudy.blur{
    filter: blur(5px);
}
@media screen and (max-width: 768px){
    .cardManage{
        margin-left: 0;
        margin-top: 100px;
        .options{
            .picWrap{
                visibility: hidden;
            }
        }
    }
}
// .cardTurnRight{
//     transform: rotate(5deg)!important;
// }
// .cardTurnLeft{
//     transform: rotate(-5deg)!important;
// }
// .cardMoveRight{
//     animation: shiftRight .5s linear;
// }
// .cardMoveLeft{
//     animation: shiftLeft .5s linear;
// }
// @keyframes shiftRight{
//     0%  {transform:translate(0,0) rotate(0deg); opacity: 1;}
//     100%{transform:translate(100px,-100px) rotate(10deg); opacity: 0}
// }
// @keyframes shiftLeft{
//     0%  {transform:translate(0,0) rotate(0deg); opacity: 1;}
//     100%{transform:translate(-100px,-100px) rotate(-10deg); opacity: 0}
// }

.cardTurnRight{
    -webkit-transform: rotate(5deg)!important;
        -ms-transform: rotate(5deg)!important;
            transform: rotate(5deg)!important;
}
.cardTurnLeft{
    -webkit-transform: rotate(-5deg)!important;
        -ms-transform: rotate(-5deg)!important;
            transform: rotate(-5deg)!important;
}
.cardMoveRight{
    -webkit-animation: shiftRight .5s linear;
            animation: shiftRight .5s linear;
}
.cardMoveLeft{
    -webkit-animation: shiftLeft .5s linear;
            animation: shiftLeft .5s linear;
}
@-webkit-keyframes shiftRight{
    0%  {-webkit-transform:translate(0,0) rotate(0deg);transform:translate(0,0) rotate(0deg); opacity: 1;}
    100%{-webkit-transform:translate(100px,-100px) rotate(10deg);transform:translate(100px,-100px) rotate(10deg); opacity: 0}
}
@keyframes shiftRight{
    0%  {-webkit-transform:translate(0,0) rotate(0deg);transform:translate(0,0) rotate(0deg); opacity: 1;}
    100%{-webkit-transform:translate(100px,-100px) rotate(10deg);transform:translate(100px,-100px) rotate(10deg); opacity: 0}
}
@-webkit-keyframes shiftLeft{
    0%  {-webkit-transform:translate(0,0) rotate(0deg);transform:translate(0,0) rotate(0deg); opacity: 1;}
    100%{-webkit-transform:translate(-100px,-100px) rotate(-10deg);transform:translate(-100px,-100px) rotate(-10deg); opacity: 0}
}
@keyframes shiftLeft{
    0%  {-webkit-transform:translate(0,0) rotate(0deg);transform:translate(0,0) rotate(0deg); opacity: 1;}
    100%{-webkit-transform:translate(-100px,-100px) rotate(-10deg);transform:translate(-100px,-100px) rotate(-10deg); opacity: 0}
}

