// body {
//   background: #190c3b;
// }
// img{
//   width: 100%;
//   font-size: 0;
// }
$purpleDarken:#190c3b;
$purpleDark:#190c3f;
$redTab:#d83a4e;
$blue:#2270bf;
$blueDarken:#22709b;
$green:#449e1c;
$greenDarken:#447b1c;


@mixin bgGridLine($bgColor:#fffeff,$lineColor:#cccccc80,$size:10px){
    background:  $bgColor;
    background-image: linear-gradient($lineColor 1px,transparent 0),
    linear-gradient(90deg,$lineColor 1px ,transparent 0);
    background-size: $size $size;
}
@mixin triangle($size,$color,$align,$type:1){
    height: 0;
    width: 0;
    @if $align == top{
        border-bottom:($size * $type)solid $color;
        border-left:($size / 2)solid transparent;
        border-right:($size / 2)solid transparent;
    }@else if $align == right{
        border-left:($size * $type) solid $color;
        border-top:($size / 2)solid transparent;
        border-bottom:($size / 2)solid transparent;
    }@else if $align == bottom{
        border-top:($size * $type) solid $color;
        border-left:($size / 2) solid transparent;
        border-right:($size / 2)solid transparent;
    }@else if $align == left{
        border-right:($size * $type)solid $color;
        border-top:($size / 2 )solid transparent;
        border-bottom: ($size /2) solid transparent;
    }@else if $align == right-top{
        border-right:$size solid $color;
        border-bottom:$size solid transparent;
    }@else if $align == left-top{
      border-left:$size solid $color;
      border-bottom:$size solid transparent;
  }@else if $align == right-bottom{
      border-right:$size solid $color;
      border-top:$size solid transparent;
  }@else if $align == left-bottom{
      border-left:$size solid $color;
      border-top:$size solid transparent;
  }

}
$range: (
  /*min-width=768px*/ md: 768px,
  /*min-width=992px*/ lg: 992px,
  /*min-width=1200px*/ xl: 1200px
);
$col:/*設定幾格*/ 12;
/*格線自動產生*/
@each $name, $width in $range {
  /*出幾項*/
  @media screen and(min-width:$width) {
    @for $index from 1 through $col {
      .col-#{$name}-#{$index} {
        box-sizing: border-box;
        $set: $index/$col;
        width: (100% * $set);
        // max-width: (1200px * $set);
        padding-right: 10px;
        padding-left: 10px;
        // max-width: 1200px * $set;
      }
    }
  }
}
@media screen and(max-width:767px) {
    @for $index from 1 through 12 {
      .col-#{$index} {
        box-sizing: border-box;
        $set: $index / 12;
        width: (100% * $set);
        // max-width: (1200px * $set);
        padding-right: 10px;
        padding-left: 10px;
        // max-width: 1200px * $set;
      }
    }
  }
// __________________
.yellowBtn{
  @include button();
}
.memberPic{
  transform: scale(1);
  padding:10px 0px 38px 0px;
  p{
    text-align: center;
  }
}
.forumBreadcrumbWrap{
  text-align: center;
  margin-bottom: 20px;
}
#forumBreadcrumb{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-flow:row wrap;
  font-family: $zh;
  .icon{
    font-size: 1rem;
  }
 li{
   margin :5px 0;
  a{
    color: #fff;
    display: block;
    background:$blue;
    text-decoration: none;
    position: relative;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-left: 23px;
    white-space: nowrap;
   }
  &:nth-child(even){
     a{
      background-color: $blueDarken;
      &::before{
        border-color: $blueDarken;
        border-left-color: transparent;
      }
      &::after{
        border-left-color: $blueDarken;
      }
    }
  }
  
  &:first-child{
    a{
     padding-left: 15px;
     border-radius:5px 0 0 5px;
     margin: 0;
     &:before{
       border:none;
     }
    }
  }
  &:last-child{
    a{
      padding-right: 15px;
      border-radius: 0 5px 5px 0;
      &:after{
        border:none;
      }
    } 
  }
  a{
    &:before,&:after{
      content: '';
      position: absolute;
      top: 0;
      border:0 solid $blue;
      border-width:20px 10px;
      width: 0;
      height: 0;
    }
    &:before{
      left: -20px;
      border-left-color: transparent;
    }
    &:after{
      left: 100%;
      border-color: transparent;
      border-left-color: $blue;
    }
    &:hover{
      background: $green;
      &::before{
        border-color: $green;
        border-left-color: transparent;
      }
      &:after{
        border-left-color: $green;
      }
    }
  &:active{
    background-color: $greenDarken;
    &:before{
      border-color:$greenDarken;
      border-left-color: transparent;
    }
    &:after{
      border-left-color:$greenDarken;
    }
  }
}
}
}
#ask{
  color:aliceblue;
}
.forumQnaList,.event {
  max-width: 1200px;
  margin: auto;
  font-family: $zh;
  .forumBackground{
      display: none;
      background: #47377080;
      border-radius: 20px;
      padding: 37px 0px 15vmin 0px;
      border:4px solid #feab0c;
    
      a{
        color:$purpleDarken;
      }
  }
  .askQ{
      width: 100%;
      padding: 0 2em;
      text-align: right; 
      box-sizing: border-box;    
  } 
  @at-root.forumTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    flex-flow: column wrap;
    .titleWrap{
        display: flex;
       .imgWrap{
         width: 50px;
       }
    }
    h2{text-align: center;
        line-height: 70px;
        font-size: 1.5rem;
        white-space:nowrap;
        color: #ffffff;
    }
  }
}

.forumTip {
  max-width: 830px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1em;
  color: #ffffff;
  text-align: left;
  .imgWrap{
    display: inline-block;
    width: 50px;
    
  }
}
#tabMine{
  .qnaBoard{
    display: flex;
    margin: 0 auto 10vmin auto;
    background-image:url(../img/cardImg/cardBackground.png);
    &::after{
      bottom: -30px;
    }
    .info{
      bottom: 0;
    }
    
  }
  .forumTip{
    width: 50%;
    text-align: center;
  }
  .tabGroup{
    z-index: 3;
    margin: 2vmin 0 2vmin 1rem;
    margin-bottom: -2.3em;
    .tab{
       > a{
         &::before{
           transform-origin: bottom left;
         }
       }
    }
    .tab.active,.tab:hover{
      a,a:hover{
        &::before{
          background: linear-gradient(180deg,#DC9A00  0 25px,#c78700 0 50px);
        }
      }
    }
  }
  .qnaList{
    display: none;
  }
  .qnaList.active{
    display: block;
    z-index: 5;
  }
}
@media screen and(min-width:768px){
  .memberPic{
    transform: scale(2);
    padding:10px 0px 38px 0px;
    p{
      text-align: center;
    }
  }
  #tabMine{
    .qnaBoard{
      &::after{
        width: 100%;
      }
    }
    .tabGroup{
      margin: 2vmin 0 -2vmin 3rem;
      margin-bottom: -2.3em;
    }
  }
}
@media screen and(min-width:1200px){
  #tabMine{
    .tabGroup{
      margin: 2vmin 0 -2vmin 8rem;
      margin-bottom: -2.3em;
    }
  }
}

.qnaBoard {
  background-image: url(../img/forum/spaceWindow.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-width:500px ;
  padding: 5vmin 8vmin 5vmin 6vmin;
  margin-bottom: 90px;
  //margin-left: 100px;桌機要設定
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 80%;
    left:0;
    right: 0;
    margin: auto;
    border-bottom:5px dotted #cccccc;
    bottom: -50px;
    .info{
      .askTime{
        color: aliceblue;
        background-color: #190c3b90;
      }
    }
    .qnaContent{
      color: aliceblue;
    }
  }
  
  
  .info {
    display: flex;
    width: auto;
    box-sizing: border-box;
    position: relative;
    bottom:-2rem;
    .askTime {
      background-color: #190c3b90;
      color:aliceblue;
      padding: 5px;
      border-radius: 5px;
      margin-left: auto;
      white-space: nowrap;
      align-self: flex-end;
      margin-bottom: auto;
    }
  }
  .profileImgWrap{
    position: absolute;
    width: 29vmin;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow:column; 
    .ansNum{
      margin: 0 auto;
      span{
        display: inline-block;
      }
    }
  }
  .yellowBtn {
    @include button();
    white-space: nowrap;
    margin-left: auto;
  }
}
.tabGroup {//fed53e,fec845/上
    position: relative;
    padding:0 1vmin;
    margin: 2vmin 0 2vmin auto;
    //background: linear-gradient(180deg,#fed53e  0 25px,#fec845 0 50px);
    line-height: 50px;
    border-radius: 5px; 
    display: flex; 
    margin-bottom: -0.48em;
    padding-right: 1em;
     
  .tab{
    border: 3px solid transparent;
    padding: 0 5px;
    position: relative;
    padding-left: 1em;
    font-size: 16px;
    white-space:nowrap;
    font-weight: bold;
    margin: 0 -0.3em;
    
      >a{
        text-decoration: none;
        display: inline-block;
        color:$purpleDarken;
        margin: 0 0.3em;
        //padding: 3px 10px 3px 10px;
        &::before{
          content: ''; /* To generate the box */
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          border:4px solid #feab0c;
          border-bottom: none;
          border-radius: .5em .5em 0 0;
         // background: #ccc linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,0));
          background: linear-gradient(180deg,#fed53e  0 25px,#fec845 0 50px);
          box-shadow: 0 .15em white inset;
          transform: scale(1.2, 1.3) perspective(.5em) rotateX(5deg);
	        transform-origin: bottom right;
        }
      }
  }
  .tab.active,.tab:hover{
   color:#fefefe;
   z-index: 2;
    a,a:hover{
    color:#fefefe;
    //background-color: #eee;
    margin-bottom: -.08em;
    &::before{
      background: linear-gradient(180deg,#46327c  0 25px,#302255 0 50px);
       }
     }
   }
  
}
.bounty {
  background-color: #d9283b;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 3px;
  color: $titleBgColor;
  white-space: nowrap;
  >.imgWrap{
    display: inline-block;
    width: 10px;
  }
}
.ansNum {
  background-color: #0096af;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  color: $titleBgColor;
  white-space: nowrap;
  span {
    display: inline-block;
    padding: 0 8px;
  }
}
.qnaContent {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  padding:1rem 1rem 0.7rem 5rem ;
  @at-root.questionTitle {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 1.5rem;
    .qNum {
      color:aliceblue;
      width: 4vmin;
      height:4vmin;
      border-radius:50%;
      background-color: #190c3b90;
      line-height: 4vmin;
      text-align: center;
      font-size: 0.5rem;
      font-family: $en;
      font-weight: 900;
    }
    h4 {
    //   width: 60%;
      color:$purpleDarken;
      line-height: 1.7;
      font-size: 1rem;
      font-family: $zh;
      padding: 8px;
    }
    .boardText{
      color:#efefe5;
      font-family: $zh;
    }
    
  }
  p {
    margin-left: auto;
    font-family: $en;
    padding: 0 2.5rem;
  }
}

.qnaList {
    position: relative;
    box-sizing: border-box;
    background: #008066;
    max-width: 970px;
    margin: 30px auto;
    padding: 0.625rem;
    color: $purpleDark;
    border: 25px solid #dc9a00;
    border-color:#c78700 #dc9a00;
    border-top-width: 18px;
    border-radius: 10px;
  h3{
      text-align: center;
      padding: 0.875rem;
      color: #ffe75f;
      letter-spacing: 3px;
  }
  .qnaListTitle{
    display: flex;  
    justify-content: center;
    .imgTextbook{
    width: 92px;
  }
    .imgTextPink{
      width: 75px;
    }
    h3{
      white-space: nowrap;
      font-size: 0.875rem;
      position: relative;
      z-index: 2;
      font-family: $zh;
      &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 99%;
      left:-5px;
      top: -42px;
      z-index: -1;
      background-image: url(../img/forum/woodenBoard.svg);
      background-repeat: no-repeat;
      }
      
    }
  }  
  
  .qnaListContent{
      position: relative;
      color: $purpleDark;
      background-color: #efefef;
      border-radius: 20px;
      padding: 1.25rem 0.875rem;
      margin: 50px auto;
      &::after{
       content: '';
       left: 0;
       right: 0;
       bottom: -10px;
       margin: auto;
       position: absolute;
       width: 80%;
       border-bottom: 1px dotted #eeefff80;
      }
      @at-root.listWrap{
        display: flex; //1200以上
        flex-flow: column-reverse;
        >.imgWrap:first-child{
             width: 100px;
             margin: 2vmin auto;
        }
        p{
          text-align: center;
          white-space: nowrap;
        }
        .info{
            display: flex;//手機版需要
        }
          @at-root.listTimeNButton{
              //width: 30%;
              position: relative;
              display: flex;
              //flex-flow: column;
              justify-content: space-between; 
              //margin-left: auto;
              span{
                white-space: nowrap;
                  display: block;
                  text-align: right;
              }
              .yellowBtn{
                 @include button();
                white-space: nowrap;
                  bottom: 0;
                  
                
              }
            }  
      }
  }
}.gButton{
      @include button(#5fab29,#447b1d ,#fefefe);
      margin:50px auto;
     text-align: right;
      
  }
@media screen and(min-width:992px){
.titleWrap{
    h2{
        font-size: 2rem;
    }
} 
.questionTitle{
    width: 100%;
    flex-flow: row;
    box-sizing: border-box;
    h4{
      font-size: 1.2rem;
      font-family: $zh;
    }
}
.listWrap{
    flex-flow: row;
    .info{
    flex-flow: column;
}
}
.qnaList{
  .qnaListTitle{
  h3{position: relative;
    font-size: 1.25rem;
    padding: 2rem;
    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 99%;
      left:23px;
      top: -35px;
      z-index: -1;
      background-image: url(../img/forum/woodenBoard.svg);
      }
  }
}
}
.qnaContent{
  padding: 80px 0rem 0rem 4rem;
}
    .qnaListContent{
        display: flex;
    }
    .listTimeNButton{
     width: 30%;
     flex-flow: column;
     margin-left: auto;

    .yellowBtn{
      @include button();
       position: absolute;
       margin: auto;
       right: 0;
    }
    
    }
    
}
//===================活動區=================
#forumQAddWindow.cardWindow{
  display: none;
  z-index: 9;
  .window{
    height: 100vmin;
    z-index: 9;
    width: 70vmin;
    .close{
      display: none;
    }
  }
}
.cardWindow{
  z-index:9;
}
#queResponse{
  display: none;
}

.showLaunchBg{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#showLaunch{
    color:#efefe5;
    display: none;
    position: fixed;
    max-width: 20rem;
    height: 100%;
    border-radius:10px;
    z-index: 100;
    margin:   auto;
    font-family: $zh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $purpleDark;
    box-shadow: 0 0 250px #000;
    box-sizing: border-box; 
    padding:2rem 1rem;
  h2{
    font-size: 1.75rem;
    font-weight: 100;
    margin: 0 0 0.5rem;
    text-align: center;
  }
    .formField{
      margin-bottom: 0.3rem;
      box-sizing: border-box;
    }
    article{
      width: auto;
      line-height: 1.3;
    }
    ::-webkit-input-placeholder{
      color: #cccccc;
    }

    textarea, input, button {
      line-height: 1rem;
      border: 0;
      outline: bottom;
      font-family: inherit;
      appearance: none;
    }
    textarea, input {
      color: #fefecf;
      background-color: transparent;
    }
    textarea {
      width: 100%;
      height: 8rem;
      resize: none;
      border: 1px solid #ccc;
      border-radius: 10px;
     }
     input {
      width:100%;
      position: relative; 
      box-sizing: border-box;
      outline: 0;
      left: 0;
      right: 0;
      margin: 0 auto 0.75rem auto;
      padding: .5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 999px;
    &[type=text]:invalid, [type=email]:invalid {
         box-shadow: none;
       }
       input[type=text]:focus,
       input[type=email]:focus,
       textarea:focus {
       outline:bottom;
       }
    }
  input[type="submit"] {
  @include button();
  color: $purpleDarken;
  margin-bottom: 6rem;
  width: 100%;
 }
input[type="checkbox"]{
  width: auto;
  }
 }

.closeShow{
    margin: 10px 20px;
    color: #cccccc;
    display: none;
    margin-bottom: 0px;
    cursor: pointer;
   
    .btnCancel{
     position: absolute;
     top: 0;
     right: 0;
     margin: 1rem;
     padding: 10px;
     width: 1rem;
     height: 1rem;
     text-align: center;
     line-height: 1rem;
     border: 2px solid #ccc;
     border-radius: 50%;
    }
}

.eventBoard{
    box-sizing: border-box;
    color: $purpleDark;
    position: relative;
    width: 100%;
    max-width: 610px;
    margin: 90px auto 150px auto;
    display: flex;
    flex-flow: column ;
    padding: 50px 35px 25px 40px;
    border-radius: 10px;
    box-shadow:5px 5px 5px #ccabcc;
    background:  #fffeff;
    background-image: linear-gradient(#cccccc80 1px,transparent 0),
    linear-gradient(90deg,#cccccc80 1px ,transparent 0);
    background-size: 10px 10px;
    &::after{
        content: '';
        position: absolute;
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        border-bottom: 3px dotted #eeefff80;
        bottom: -64px;
    }
    @at-root.eventProfile{
     padding: 20px;
     margin: 0 auto;
     position: relative;
     .imgWrap:first-child{
         width: 100px;
         left: 37%;
         display: flex;
         margin-left: -50px;
         position: absolute;
         top: -66px;
      img{
           width: 50%;
         }
      img:first-child{
           width: 70%;
         }

     }
     .imgWrap:nth-child(2){
       width: 40%;
       height: 150px;
      // background-image: url('../img/forum/character2.svg');
       background-clip: content-box;
       background-position: center;
       background-repeat: no-repeat;
      // background-color:$purpleDarken; 
       border-radius:50%;//
       position: relative;
       margin: 0 auto;
       left: 0;
       top: 10px;
     }
     .hostName{
       text-align: center;
       }
    }
    @at-root.eventInfo{
        width: 100%;
    padding: 10px 0 0 10px;
    line-height: 1.6;
    .askQ{
        width: 100%;
       text-align: right;
         }
        .infoList{
          text-align: left;
          word-wrap:break-word;
        }
    }    
}

.imgFire{
  width: 10vmin;
  position: relative;
  left:25vmin;
  top: 13vmin;
  //bottom: 0;
}
.imgSkull{
  width: 15vmin;
  position: relative;
  left: 70vmin;
  top: -5vmin;
  transform: rotate(-16deg);
}
.imgAstronaut{
  width: 50vmin;
  position: relative;
  left: 40vmin;
  top:-14vmin; 
 
}

@media screen and(min-width:768px){
    .waterfall{
        column-count: 2;
        column-gap: 0;
        .wrap{
            box-sizing:border-box;
            break-inside: avoid;
            padding: 10px;
            .eventCard{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: auto;
                width: 100%;
               a{
                color:#0e0820;
              }
            }
         }
    }
    .tabGroup{padding: 0 1vmin;
      margin-bottom: -0.48em;
    padding-right: 1em;
        .tab{
      font-size: 22px;
      padding: 0 1vmin;
    }
    .eventBoard{
      &:after{
        right:0;
        width: 150%;
       }
     }
  .forumTip{
    font-size: 1.5rem;
  }
  .imgTextPink{
    width: 105px;
  }
}

#showLaunch{
  max-width: 70vmin;
  padding: 2rem 2rem;
h2{
  font-size: 2rem;
margin: 0 0 1rem;
}
  .formField{
    margin-bottom: 0.3rem;
  }
  textarea, input, button {
    line-height: 1rem;
  }
  textarea {
    height: 3rem;
   }
   input {
    margin: 0 auto 0.75rem auto;
    padding: .5rem 1rem;
   }
input[type="submit"] {
margin-bottom: 3rem;
  }
 }
 .forumBackground{
  padding: 37px 20px 15vmin 20px;
 }
 #forumBreadcrumb{
   flex-flow:row ; 
   font-family: $zh;
 }
 #forumQAddWindow.cardWindow{
 .window{
   width: 50vmin;
   height: 50vmin;
 }
}
}
@media screen and(min-width:1200px){
.waterfall{
  padding-bottom: 222px;
    column-count: 3;
    column-gap: 0;
    .wrap{
        box-sizing:border-box;
        break-inside: avoid;
        padding: 10px;
        .eventCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: auto;
           width: 100%;
           a{
             color:#0e0820;
           }
        }
    }
}
.imgFire{
  width: 100px;
  position: relative;
  left:60vmin;
  top: 13vmin;
  //bottom: 0;
}
.imgSkull{
  width: 140px;
  position: relative;
  left:70vmin;
  top: -5vmin;
  transform: rotate(-16deg);
}
.imgAstronaut{
  width: 470px;
  position: relative;
  left: 90vmin;
  top:-7vmin; 
}
.qnaList{
padding: 38px;
}

.forumTitle{
  flex-flow: row nowrap;
  .tabGroup {//fed53e,fec845/上
  position: relative;
  padding:0 10px;
  margin: 20px 0 20px auto;
  box-sizing: border-box;
  line-height: 50px;
  flex-flow: row;
  margin-bottom: -0.48em;
  padding-right: 1em;
  
  }
}
.eventBoard{
  flex-flow: row;
}
}//1200px
.wrap{
    display: flex;
}
.eventCard{
  color: $purpleDark;
    padding: 10px;
    max-width: 350px; 
    margin: 40px auto; 
    border-radius: 10px;
    box-shadow:5px 5px 5px #ccabcc;
    @include bgGridLine;
    a{
      color:#0e0820;
    }
    .eventProfile{
       max-width: 300px;    
        margin: 20px auto;
    }
    .eventInfo{
        width: auto;
        text-align: center;
        .askQ{
            text-align: center;
        }
    }
}
@media screen and(min-width:992px){
  .qnaBoard{
    padding: 45px 60px 54px 65px;
    margin-bottom: 90px;
    margin-left: 100px;
      &::after{
        position: absolute;
        content: '';
        width: 150%;
        left:0;
        right: 0;
        margin: auto;
        border-bottom:5px dotted #cccccc;
       bottom: -50px;
      }
      .profileImgWrap{
        position: absolute;
        width: 21vmin;
        bottom: 0;
        left: 58vmin;
        display: flex;
        flex-flow:column; 
      }
     
  }
  .eventProfile{
    max-width: 300px;    
     margin: 20px auto;
     .imgWrap:nth-child(2){
       width: 80%;
     }
 }
     

}
.qnaList{
  .btnWarp{
    text-align: center;
    max-width: 500px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}
.indexBtnWrap{
  text-align: center;
    max-width: 500px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    .gButton{
      font-size: 24px;
    height: 30px;
    line-height: 30px;
    }
    
}
//-------panel----------

.forumBackground.active{
    display: block;
}
@media screen and(max-width:768px){
  .hidden{
    display: none;
  }
  .questionTitle{
    box-sizing: border-box;
    width: 100%;
    .qNum{
        padding: 10px;
    }
    h4{
       padding: 10px;
       font-family: $zh;
    }
  }

}
.disableBtn{
  @include button(#999,#666 ,#ffeeff);
  cursor: default;
}
#questionSuccessLightBox{
  display: none;
  .lightBoxWrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9;
  }
  .lightBox{
    min-width: 30vmin;
    min-height: 20vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 0 250px #000;
    transform: translate(-50%,-50%) scale(1);
    transition: all ease 0.5s;
    z-index: 9;
    background: linear-gradient(#f2efef 30%, #ddd 70%);
    h2{
      line-height: 20vmin;
      text-align: center;
      color:$purpleDarken;
    }
    .closeBtn{
      font-size: 30px;
      color: #190c3f;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      &::before{
         content:"x";
         width: 10px;
         //background: #190c3b;
         height: 10px;
         border-radius:50%;
        //  border:1px solid $purpleDarken; 
      }
    }
  }
}
.msgAdjsut{
  font-size: 2rem;
  height: 30vmin;
  line-height: 30vmin;
  text-align: center;
  color:$purpleDarken;
  background: linear-gradient(#666 10%, #ddd 70%);
  border-radius:20px; 
}