.none {
  display: none;
}
.gameMainarea {
  max-width: 1200px;
  margin: auto;
  .container {
    z-index: 999;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    color: $fcLight;
    width: 100%;
    height: 100vh;
    
    border-top: 2px solid #f6d371;
    border-bottom: 2px solid #f6d371;
    background-image: url(../img/game/gameBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    margin: auto;
    @include pad {
      height: auto;
      background-size: contain;
      padding-bottom: 70%;
    }
    // 遊戲開始畫面
    > div {
      box-sizing: border-box;
    }
    .gameStart {
      width: 100%;
      position: absolute;
      // display: none;
      #volume {
        display: none;
        &:checked + .gameVolume:before {
          width: 63px;
          transition: width 0.6s;
          border: 1px solid #000;
        }
      }
      .gameVolume {
        width: 54px;
        height: 38px;
        padding: 5px 0;
        position: absolute;
        top: 15px;
        right: 6.66667%;
        cursor: pointer;
        &:before {
          content: "";
          width: 0px;
          height: 2px;
          background-color: $Yellow;
          position: absolute;
          left: -5px;
          top:6px;
          transform-origin: 0 0;
          transform: rotate(31deg);
        }
      }
      // 標題
      .gameTitle {
        padding-top: 50%;
        @include pad {
          padding-top: 15.8333333%;
        }
        .gameTitleZh {
          display: inline-block;
          background-image: url(../img/game/gameTitleZh.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 187.75px;
          padding-bottom: 37.5469px;
          text-indent: 101%;
          white-space: nowrap;
          overflow: hidden;
          @include pad {
            padding-bottom: 5%;
            width: 25%;
          }
        }
        .gameTitleEn {
          width: 70%;
          min-width: calc(100% - 30px);
          margin: auto;
          padding-bottom: 5.83333333%;
          @include pad {
            min-width: auto;
          }
        }
      }
      // 開始等級選擇
      .gameMenu {
        @include pad {
          padding-top: 0;
        }
        .blueButton {
          margin: auto;
          width: 245px;
          height: auto;
          padding: 15px 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          img {
            width: 60.408163%;
          }
          @include pad {
            width: 20.416666%;
            height: auto;
            padding: 1.25% 0;
          }
        }
        .gameMenuStart {
          .gameMenuSlogan {
            font-size: 22px;
            letter-spacing: 4px;
            font-family: $zh;
            font-weight: 300;
            padding: 1.6667% 0;
          }
        }
        .gameMenuLevel {
          display: none;
          div {
            margin: 0 auto;
            margin-bottom: 20px;
          }
          // div:hover{
          //   color: $yellow;
          // }
        }
      }
    }
    // 遊戲戰鬥畫面
    .gameBattle {
      width: 100%;
      position: absolute;
      font-size: 1.5rem;
      display: none;
      // 時間條
      #gameBattleTimeBar {
        padding: 6.66667% 0;
        position: relative;
        height: 36px;
        width: 70%;
        margin: auto;
        .gameBattleTimeText {
          display: inline-block;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 1.1rem;
          transform: translate(-50%, -50%);
          color: $Blue;
          // text-shadow: -1px 0 #fff;
          @include pad{
            font-size: 1.5rem;
          }
        }
        span {
          margin: 0 16px;
          color: red;
        }
      }

      // 魔王戰鬥物件
      .gameBossBox{
        width: 90%;
        margin: 65% auto 0;
        @include pad {
          width: 70%;
          margin: 0 auto 17%;
        }
        .gameBossQuestion {
          width: 100%;
          background-image: url(../img/game/question.png);
          background-repeat: no-repeat;
          background-size: contain;
          // padding: 7.14285% 0;
          padding: 10.12% 0;
          @include pad {
            width: 61.5476%;
            padding: 7.14285% 0;
          }
        }
      }
      

      // 角色戰鬥物件
      .gameRoleBox {
        width: 90%;
        margin: 8% auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        @include pad {
          width: 70%;
          flex-flow: row-reverse;
          margin: auto;
        }
        .gameRoleOpt {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-content: space-between;
          @include pad {
            width: 61.54761%;
            justify-content: space-evenly;
            align-content: space-evenly;
          }
          input {
            display: none;
            &:checked + label {
              background-image: url(../img/game/optionHover.png);
              color: $Yellow;
            }
          }
          
          .gameRoleOptItem {
            width: 45%;
            background-image: url(../img/game/option.png);
            background-repeat: no-repeat;
            background-size: contain;
            color: $Blue;
            padding: calc((13.3% - 24px) / 2) 0;
            margin-bottom: 20px;
            cursor: pointer;
            @include pad{
              width: 34.73684%;
              padding: calc((10% - 24px) / 2) 0;
              &:hover {
                background-image: url(../img/game/optionHover.png);
                color: $Yellow;
              }
            }
            
          }
        }
        .gameRoleBtn {
          width: 38%;
          padding: calc((13% - 24px) / 2) 0;
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #4e961c;
          border-radius: 16.83132% / 50%;
          border: 0px solid #447b1d;
          border-width: 0px 0px 4px 0px;
          box-shadow: inset 0px 1px 3px rgba(100%, 100%, 100%, 0.4);
          cursor: pointer;
          transform: translateY(100%);
          @include pad{
            width: 19.7619%;
          padding: calc((6.6667% - 24px) / 2) 0;
            &:hover {
              border-width: 0;
              bottom: -4px;
            }
            &:hover:before {
              content: "";
              width: 100%;
              height: 4px;
              position: absolute;
              top: -4px;
              left: 0;
            }
          }
          
        }
      }
    }
    .gameEnd {
      width: 100%;
      position: absolute;
      display: none;
      padding-top: 5%;
      overflow: hidden;
      height: 100%;

      .gameResult {
        padding-bottom: 35%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include pad{
          padding-bottom: 18%;
        }
      }
      .lose {
        background-image: url(../img/game/lose.png);
      }
      .victory {
        background-image: url(../img/game/victory.png);
      }
      .gameReward {
        display: flex;
        width: 100%;
        margin: auto;
        position: relative;
        justify-content: center;
        perspective: 1000px;
        flex-wrap: wrap;
        transform-style: preserve-3d;
        // overflow: hidden;
        .gameRewardText {
          width: 100%;
          font-size: 2rem;
          padding: 0 0 5%;
          @include pad{
            padding: 1% 0;
          }
        }
        input {
          display: none;
          &:checked + label .gameRewardItemBack {
            transform: rotateY(0);
          }
          &:checked + label .gameRewardItemFront {
            transform: rotateY(180deg);
          }
          &:checked + label {
            transform: rotate(0deg) translate(0, 0);
            cursor: auto;
            margin: 0;
          }
        }
        
        .gameRewardItem {
          width: 25%;
          margin: 0 3%;
          padding-bottom: 35%;
          position: relative;
          cursor: pointer;
          transition: 0.8s;
          @include pad{
            width: 14.5833%;
            padding-bottom: 20%;
          }
          > div {
            width: 100%;
            position: absolute;
            backface-visibility: hidden;
            transition: 0.8s;
            box-sizing: border-box;
          }
          img {
            width: auto;
            height: 100%;
          }
          .gameRewardItemFront {
            background-image: url(../img/game/card.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
          }
          .gameRewardItemBack {
            color: $Blue;
            padding: 15% 0;
            background-image: url(../img/game/cardBack.png);
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotateY(180deg);
            height: 100%;
          }
          .gameRewardItemPic {
            margin-top: 5%;
            height: 70%;
            @include pad{
              margin-top: 10%;
            }
          }
        }
        @include pad{
          & > :nth-child(3) {
            margin-top: 5%;
            transform: rotate(-27deg) translate(0, 0);
          }
          & > :last-child {
            margin-top: 5%;
            transform: rotate(27deg) translate(0, 0);
          }
        }
        
        .gameRewardItemGet{
          width: 37.5%;
          padding-bottom: 60%;
          @include pad{
            width: 17.5%;
            padding-bottom: 24%;
          }
        }
      }
      
      .gameEndMenu {
        padding-top: 3%;
        position: absolute;
        width: 100%;
        bottom: 5%;
        @include pad{
          display: flex;
          justify-content: space-evenly;
          bottom: 3%;
        }
        .blueButton{
          // width: ;
          margin: 0 auto 20px;
        }
      }
    }
  }
  .gameHp {
    width: 20.98765%;
    height: 0;
    padding-bottom: 177.77777%;
    background-color: $DeepBlue;
    border: 1px solid $Blue;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    display: none;
    @include pad{
      top:auto;
      bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .gameHpBlock {
      width: calc(100% - 4px);
      margin: 3px auto 0;
    }
    .gameHpText {
      width: 100%;
      padding: 33% 20%;
      font-size: 1rem;
      color: $Blue;
      position: absolute;
      bottom: 2px;
      left: 100%;
      border: 1px solid $Blue;
      background: $DeepBlue;
    }
  }
  .gameRole {
    position: absolute;
    width: 21.6%;
    max-width: 145px;
    left: 65px;
    top: 156px;
    display: none;
    @include pad {
      display: block;
      max-width: auto;
      width: 14.16667%;
      left: 22.5%;
      top: auto;
      bottom: 6.25%;
    }
    .gameHp {
      left: -32%;
      .gameHpBlock {
        background-color: $Yellow;
      }
    }
  }
  .gameBoss {
    position: absolute;
    width: 21.6%;
    max-width: 145px;
    right: 65px;
    top: 102px;
    display: none;
    .gameHp {
      right: -32%;
      .gameHpBlock {
        background-color: green;
      }
    }
    @include pad {
      width: 14.16667%;
      right: 22.5%;
      top: 30.91557%;
    }
    // display: none;
  }
  
}
// .gameStart{
//   display: none !important;
// }
// .gameBattle{
//   display: block !important;
// }
// .gameEnd{
//   display: block !important;
// }