
@keyframes planetRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

@-webkit-keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

* {
    // outline: aqua solid 1px;
}

.leading {
    background-image: url("/img/leading/leadingBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    .container {
        max-width: 1400px;
        box-sizing: border-box;
        margin: auto;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-evenly;
        // overflow: hidden;
    }


    .logo {
        position: relative;
        padding-top: 30px;

        .wrapLogo {
            width: 14%;
            max-width: 150px;
            min-width: 130px;
            margin: auto;

            img {
                width: 100%;
            }
        }

    }
    .char{
        display: none;
    }
    .planetsWrap{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        z-index: 1;
        
    }
    .frontStage,
    .backStage {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10% 20px 57% 20px;

    }

    .frontStageBtn {
        @include button(#eb3b49, #c80c4b, #ffffff);
        font-size: 32px;
        margin: auto;
        width: 64px;
        height: 35px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // @include leadingButton(#eb3b49, #c80c4b, #ffffff);
    }

    .backStageBtn {
        @include button(#5fab29, #447b1d, #ffffff);
        font-size: 32px;
        width: 64px;
        height: 35px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .wrapRed,
    .wrapGreen {
        display: block;
        margin: auto;
        position: relative;
        transition: all .1s;

        .planetG {
            width: 100%;
            animation: planetRotate 80s  linear infinite;
        }

        .planetR {
            width: 100%;
            animation: planetRotate 120s linear infinite;
        }

        .rocketRed {
            position: absolute;
            margin: auto;
            top: 5%;
            left: 0%;
            width: 30%;
            min-width: 100px;
            transform: rotate(60deg);
        }

        .rocketBlue {
            position: absolute;
            margin: auto;
            bottom: -5%;
            right: 0%;
            min-width: 100px;
            width: 35%;
            transform: rotate(120deg);
        }
    }

    @media screen and (min-width: 768px) {
        .planetsWrap{
        }      
        .char{
            display: block;
            position: absolute;
            transform: translateX(-50%);
            margin: auto;
            width: 120px;
            // animation: fly 1s forwards linear;
        }            
        .speed{
            position: absolute;
            bottom: 0;
        }
        

        .frontStage,
        .backStage {
            padding: 0% 20px 2% 20px;

        }

        .wrapRed,
        .wrapGreen {
            margin: auto;

            .planetG {
                display: block;
                width: 65%;
                margin: auto;
            }

            .planetR {
                display: block;
                width: 70%;
                margin: auto;
            }

        }

        .backStage:hover {
            transform: scale(1.1);
            transition: all .1s;
        }

        .frontStage:hover {
            transform: scale(1.1);
            transition: all .1s;
        }
    }
}