@mixin tabButton($bgColor:#fed841, $textColor:#000000) {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: $bgColor;
    border-radius: 10px;
    border-width: 0px 0px 4px 0px;
    padding: 9px 20px 9px 20px;
    color: $textColor;
    font-family: $zh;
    font-weight: 900;
}

// @mixin qbutton($bgColor:#fed841, $shadow: #feab0c, $textColor:#d83a4e) {
//     // position: absolute;
//     cursor: pointer;
//     display: inline-block;
//     background: $bgColor;
//     border-radius: 30px;
//     border: 0px solid $shadow;
//     border-width: 0px 0px 4px 0px;
//     padding: 9px 20px 9px 20px;
//     box-shadow: inset 0px 1px 3px rgba(100%, 100%, 100%, 0.4);
//     color: $textColor;
//     font-family: $zh;
//     font-weight: 900;
// }



.member {
    * {
        font-size: 16px;
    }

    width: 100%;
    background-image: url("../img/member/memberBackground.png");
    background-size: cover;

    .container {
        box-sizing: border-box;
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        padding: 50px 30px;
        justify-content: space-between;
    }





    div[class*="col-"] {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }


    @media screen and (max-width: 767px) {

        .col-1 {
            width: 8.333333%;
        }

        .col-2 {
            width: 16.666666%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.333333%;
        }

        .col-5 {
            width: 41.666666%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.333333%;
        }

        .col-8 {
            width: 66.666666%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.333333%;
        }

        .col-11 {
            width: 91.666666%;
        }

        .col-12 {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        .col-md-1 {
            width: 8.333333%;
        }

        .col-md-2 {
            width: 16.666666%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-4 {
            width: 33.333333%;
        }

        .col-md-5 {
            width: 41.666666%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-7 {
            width: 58.333333%;
        }

        .col-md-8 {
            width: 66.666666%;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-md-10 {
            width: 83.333333%;
        }

        .col-md-11 {
            width: 91.666666%;
        }

        .col-md-12 {
            width: 100%;
        }
    }

    @media screen and (min-width: 992px) {
        .col-lg-1 {
            width: 8.333333%;
        }

        .col-lg-2 {
            width: 16.666666%;
        }

        .col-lg-3 {
            width: 25%;
        }

        .col-lg-4 {
            width: 33.333333%;
        }

        .col-lg-5 {
            width: 41.666666%;
        }

        .col-lg-6 {
            width: 50%;
        }

        .col-lg-7 {
            width: 58.333333%;
        }

        .col-lg-8 {
            width: 66.666666%;
        }

        .col-lg-9 {
            width: 75%;
        }

        .col-lg-10 {
            width: 83.333333%;
        }

        .col-lg-11 {
            width: 91.666666%;
        }

        .col-lg-12 {
            width: 100%;
        }
    }

    @media screen and (min-width: 1200px) {
        .col-xl-1 {
            width: 8.333333%;
        }

        .col-xl-2 {
            width: 16.666666%;
        }

        .col-xl-3 {
            width: 25%;
        }

        .col-xl-4 {
            width: 33.333333%;
        }

        .col-xl-5 {
            width: 41.666666%;
        }

        .col-xl-6 {
            width: 50%;
        }

        .col-xl-7 {
            width: 58.333333%;
        }

        .col-xl-8 {
            width: 66.666666%;
        }

        .col-xl-9 {
            width: 75%;
        }

        .col-xl-10 {
            width: 83.333333%;
        }

        .col-xl-11 {
            width: 91.666666%;
        }

        .col-xl-12 {
            width: 100%;
        }
    }




    .wrapAvatar {
        box-shadow: 0 0 5px #FFFFFF;
        border-radius: 20px;
        padding: 20px;
        margin: auto;
        margin-bottom: 30px;

        .avatarContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
            padding-top: 20px;

            .avatarImage {
                position: relative;

                .roleBody {
                    width: 70%;
                    // margin: auto;
                }

                margin: auto;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 80px;
            }

            .avatarHeading {
                background-image: url("../img/member/titleBackground.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90%;
                padding-bottom: 10%;
                padding-top: 10%;
                overflow: hidden;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 0;
                padding-right: 0;

                .headingWrap {
                    padding: 10px;
                    display: flex;
                    justify-content: center;

                    .imgWrap {
                        margin: auto;
                        display: block;
                    }

                    .titleWrap {
                        display: block;
                        margin: auto;
                        padding-left: 0;
                        padding-right: 0;

                    }
                }
            }

        }

    }

    .wrapDataEdit {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .wrapDataContentHeader {
        padding: 10px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .dataContentTitle {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        margin: 5px;

        img {
            width: 40px;
        }

        span::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        span {
            padding-right: 10px;
            padding-left: 10px;
        }

    }

    .dataContentMoney {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        margin: 5px;

        img {
            width: 40px;
        }

        span::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        span {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .wrapDataContent {
        border: 2px solid #0b99fa;
        background-color: #111e4e;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .wrapDataContentL,
    .wrapDataContentR {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapEditIcon {
        justify-content: flex-start;

        img {
            cursor: pointer;
        }
    }

    .wrapDataItem {
        height: 50px;
        display: flex;
        position: relative;

        .memDatalock {
            background-color: rgba($color: #CCC, $alpha: 1.0);
        }

        label::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        label {
            white-space: nowrap;

        }

        input {
            height: 25px;
            margin: auto;
            margin-left: 0;
        }

        span::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        img {
            margin: auto;
            width: 25px;
            cursor: pointer;
        }
    }

    .wrapDataContentDeco {
        height: 5px;
        background-color: #0b99fa;
        margin-bottom: 30px
    }

    .wrapDataContentButton {
        padding: 10px;
        display: flex;
        justify-content: space-around;

        .dataContentButtonConfirm {
            @include button();
            margin-left: 20px;
            margin-right: 20px;
        }

        .dataContentButtonCancel {
            @include button(#5fab29, #447b1d, #ffffff);
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .wrapBtnActCancell{
        display: flex;
        justify-content: space-around;
    }
    .btnActCancell {
        @include button(#5fab29, #447b1d, #ffffff);
        margin: 15px;
        height: 50px;
    }

    .wrapTab {
        padding: 15px 0px;
        margin-bottom: 30px;

        .tabBookmark {
            list-style: none;
        }

        .wrapTabContent {
            background-color: #fffcf0;
            padding: 20px 10px;
        }

        ul {
            display: block;
            margin: 10px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        li {
            @include tabButton(#fed841, #000000);
            margin: 10px;
            text-align: center;

            a {
                margin: auto;
                color: #000;
                text-decoration: none;
                text-align: center;
            }
        }

        .active {
            @include tabButton(#5fab29, #ffffff);

            a {
                margin: auto;
                color: #fff;
                text-align: center;
            }
        }

        .tabInner::-webkit-scrollbar {
            display: none;
        }

        .tabInner {
            clear: both;
            color: #000;
            border: 3px #fea741 solid;
            padding: 10px;
            height: 500px;
            overflow: scroll;

            h2,
            p {
                text-align: center;
                padding: 10px;
            }
        }
    }

    #tabAct {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100vh;

        .actContent {
            color: #000;
            padding-left: 0;
            padding-right: 0;
            border: #fea741 1px solid;

            h2 {
                padding: 20px;
                font-size: 20px;
                font-weight: 500;
                color: #5FAB29;
            }


        }


        ul {

            margin: auto;
        }

        li {
            margin-bottom: 5px;
            cursor: default;
        }

        li::after {
            height: 2px;
            display: block;
            content: '';
            margin: auto;
            background-color: #5FAB29;

            :last-child {
                display: none;
            }
        }


        p::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }


        p {
            text-align: center;
            display: block;
            margin: auto;
            padding: 10px;

        }

        span::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        span {
            padding: 10px;
            text-align: center;
            line-height: 20px;
            display: block;
            margin: auto;
        }

        td.fc-widget-content {
            cursor: pointer;
        }
    }

    #calendar {
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    td.datesDraw {
        background: #c5ece1 !important;
    }
    .fc-unthemed td.fc-today{
        background: #fff4be !important;
        border-color: #DDD !important;
    }

    .fc-day {
        position: relative;
    }

    .checkImg {
        padding: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        img {
            width: 100%;
        }
    }


    #tabVideoCol {
        .tabBookmark {
            list-style: none;
        }

        #tabNews,
        #tabDrama,
        #tabMusic {
            border: none;
        }


        ul {
            display: block;
            margin: 10px;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        li {
            // margin: 0 10PX;
            // cursor: pointer;
            @include tabButton(#fed841, #000000);

            a {
                margin: auto;
                color: #000;
                text-decoration: none;
                text-align: center;
                display: inline;
                white-space: nowrap;
            }
        }

        .active {
            @include tabButton(#5fab29, #ffffff);

            a {
                margin: auto;
                color: #fff;
                text-align: center;
                display: inline;
            }
        }

    }

    .videoLv {
        @include tabButton(#fed841, #000000);
    }


    h3 {
        padding: 10px 0px;
        color: #000;
    }

    .videoAll {
        a {
            display: block;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .videoItem {
            border: #fea741 1px solid;
            position: relative;
            padding: 10px;
            margin-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .imgWrap {
            img {
                display: block;
                margin: auto;
                width: 100%;
            }
        }

        .cancel {
            z-index: 10;
            position: absolute;
            width: 50px;

            img {
                width: 100%;
            }
        }
    }
}


#tabAch {
    .achAll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .gray:hover {
            filter: grayscale(0);
            transition: filter .5s;
        }

        .gray {
            filter: grayscale(1);
        }

        .onEquip {
            border: #447b1d 3px solid;
            border-radius: 30px;
        }

    }
}

.achCondition {
    width: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // max-width: 150px;
    // text-align: left;
    background: rgba(95, 171, 41, 0.5);
    color: #000;
    padding: 10px;
    border-radius: 30px;
    z-index: 999;

    span {
        text-align: center;
        margin: auto;
        display: block;
        font-weight: 500;
    }

}

.achHide {
    display: none;
}

.achItem {
    cursor: pointer;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    z-index: 10;

    img {
        display: block;
        margin: auto;
        width: 100%;
    }
}

// #tabReward {
//     .tabBookmark {
//         list-style: none;
//     }

//     #tabQuestions,
//     #tabAnswers {
//         border: none;
//     }

//     ul {
//         display: block;
//         margin: 10px;
//         list-style: none;
//         display: flex;
//         flex-wrap: nowrap;
//         justify-content: space-evenly;

//         li {
//             // cursor: pointer;
//             @include tabButton(#fed841, #000000);

//             a {
//                 margin: auto;
//                 color: #000;
//                 text-decoration: none;
//                 text-align: center;
//                 display: block;
//                 white-space: nowrap;
//             }
//         }

//         .active {
//             @include tabButton(#5fab29, #ffffff);

//             a {
//                 margin: auto;
//                 color: #fff;
//                 text-align: center;
//                 display: block;
//             }
//         }
//     }


// }

// #tabQuestions,
// #tabAnswers {
//     display: flex;
//     flex-direction: column;

//     .listTimeNButton {
//         span {
//             padding: 10px;
//         }

//         a {
//             color: #D9283B;
//         }

//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         text-align: center;
//     }

//     .qWrap {
//         border: #fea741 1px solid;
//         display: flex;
//         margin-bottom: 20px;

//     }

//     .qWrapImg {
//         margin: auto;
//         padding-left: 0;
//         padding-right: 0;

//         img::before {
//             content: '';
//             display: inline-block;
//             height: 100%;
//             width: 0;
//             vertical-align: middle;
//         }

//         img {
//             width: 100%;
//         }
//     }

//     .qWrapHeader {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;

//         .qRewardMoney {
//             padding: 10px;
//             @include tabButton(#D9283B, #ffffff);
//             display: flex;
//             text-align: center;

//             img {
//                 width: 20px;
//             }

//         }

//         .qAnsCount {
//             padding: 10px;
//             @include tabButton(#0096AF, #ffffff);
//             display: flex;
//             text-align: center;
//         }

//     }

//     .qWrapContent {
//         display: flex;
//         position: relative;

//         h2::before {
//             content: '';
//             display: inline-block;
//             height: 100%;
//             width: 0;
//             vertical-align: middle;
//         }

//         p::before {
//             content: '';
//             display: inline-block;
//             height: 100%;
//             width: 0;
//             vertical-align: middle;
//         }

//         .qSeemore {
//             @include qbutton(#5fab29, #447b1d);
//             margin: auto;
//             bottom: 0;
//             right: 0;

//             a {
//                 white-space: nowrap;
//             }
//         }
//     }

//     .imgWrap {
//         margin: auto;
//     }

//     .qnaListContent {
//         border: #fea741 1px solid;
//         margin-bottom: 30px;
//         padding: 20px;
//     }

//     .info {
//         display: flex;
//         justify-content: space-around;
//     }
// }

@media screen and (min-width: 768px) {
    .member {

        #tabVideoCol {
            ul {
                justify-content: flex-end;
            }

            li {
                margin: 0 10px;
            }

            .videoAll {
                .videoItem {
                    margin: 30px 20px;
                }
            }
        }

        #tabReward ul {
            justify-content: flex-end;
        }

        .wrapDataContentHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .wrapDataContentButton {
            justify-content: flex-end;
        }

        .checkImg {
            padding: 20px;
            top: 0;
        }

        .achItem {
            img {
                width: 50%;

            }
        }
    }
}





