.sectionRole{
    background-image: url(../img/role/roleManageBg.png);
    background-position: center;
    padding:50px 0;
    background-size: cover;
    .container{
        max-width: 1200px;
        margin:auto;
    }
}
.roalFloat{
    animation: float 3s infinite;
    @keyframes float{
        0%{top: 0; animation-timing-function:linear;}
       25%{top: -10px; animation-timing-function:linear;}
       50%{top: 0; animation-timing-function:linear;}
       75%{top: 10px; animation-timing-function:linear;}
      100%{top: 0; animation-timing-function:linear;}
    }
}
.roleManageCol{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @media(min-width: 767px){
        width: 50%;
        margin:auto;
        margin-bottom: 50px;
    }
    .roleManageCan{
        position: relative;
        width: 80%;
        margin:auto;
        .memberRole{
            position:absolute;
            width: 90%;
            left:6%;
            top:15%;
            transition: height 1s linear; 
            height:67%;
            .roleBody{
                width: 66.7%;
            }
            .roleVehicle{
                display:none;
            }
        }   
        .roleShadow{
            width: 100%;
            height: 17px;
            border-radius: 50%;
            background-color: #424242;
            opacity:.18;
            position:absolute;
            top:81%;
            left:1%;
            animation: shadow 3s infinite;
            @keyframes shadow{
                0%{transform: scaleX(0.4); animation-timing-function:linear;}
               25%{transform: scaleX(0.3);animation-timing-function:linear;}
               50%{transform: scaleX(0.4);animation-timing-function:linear;}
               75%{transform: scaleX(0.5); animation-timing-function:linear;}
              100%{transform: scaleX(0.4); animation-timing-function:linear;}
            }
        } 
    }
}
.roleBody{
    position: relative;
    width: 67%;
    margin:auto;
    z-index:1;
    @include pad{
        width:33%;
    }
    img{
        width: 100%;
    }
    .roleAccessory{
        position: absolute;
        width: 100%;
        top:-3%;
    }
    .rolePart{
        position: absolute;
        top:16%;
        left:6%;
        width:90%;
    }
    .roleLeftHand{
        position: absolute;
        top:67%;
        left:30%;
        width: 14%;
    }
    .roleRightHand{
        position: absolute;
        top:68%;
        left:58%;
        width: 17%;
        animation: swing 3s infinite;
        transform-origin: 0 0 0;
        @keyframes swing{
            0%{transform: rotate(0deg); animation-timing-function:linear;}
           25%{transform: rotate(-10deg); animation-timing-function:linear;}
           50%{transform: rotate(0deg); animation-timing-function:linear;}
           75%{transform: rotate(10deg); animation-timing-function:linear;}
          100%{transform: rotate(0deg); animation-timing-function:linear;}
        }
        .weaponEquip{
            position: absolute;
            top:-100%;
            left:67%;
            width:200%;
        }
    }
    .roleVehicle{
        position: absolute;
        width: 100%;
        top:86%;
        z-index:-1;
    }
}
.roleInfos{
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #424242;
    padding: 20px;
    box-sizing: border-box;
    border-radius:20px;
    @include pad{
        width: 47%;
        margin:auto;
    }
    .equippedTitle{
        margin-bottom: 20px;
    }
    .equippedList{
        display:flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .equippedItems{
        display: flex;
        justify-content: space-around;
        .equippedItem{
            box-sizing: border-box;
            border-radius:10px;
            background-color: #333;
            box-shadow: 0 5px 5px #111 inset;
            .equippedImg{
                margin-bottom: 20px;
            }
            h5{
                margin-bottom: 10px;
            }
        }
    }
    .closets{
        background-color: #666;
        position: absolute;
        bottom:0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-sizing: border-box;
        // padding: 20px;
        @media(min-width: 767px){
            width:66.7%;
            left:-66.7%;
            bottom:150%;
            @keyframes closetsFloat{
                0%{bottom: 150%; animation-timing-function:linear;}
               25%{bottom: 153%; animation-timing-function:linear;}
               50%{bottom: 150%; animation-timing-function:linear;}
               75%{bottom: 147%; animation-timing-function:linear;}
              100%{bottom: 150%; animation-timing-function:linear;}
            }
            animation:closetsFloat 6s infinite;
        }
        .closetsTitle{
            position: absolute;
            width:100%;
            left:0;
            @media(min-width: 767px){
                bottom: 100%;
                width:50%;
                transform: rotate(-9deg);
                @keyframes rotate{
                    0%{transform: rotate(-9deg);animation-timing-function:linear;}
                   25%{transform: rotate(-12deg);animation-timing-function:linear;}
                   50%{transform: rotate(-9deg);animation-timing-function:linear;}
                   75%{transform: rotate(-6deg);animation-timing-function:linear;}
                  100%{transform: rotate(-9deg);animation-timing-function:linear;}
                }
                animation:rotate 9s infinite; 
                &:hover{
                    filter:drop-shadow(0 5px 10px #fff);
                } 
            }
            img{
                display:block;
            }
            h3{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 20px;
                box-sizing: border-box;
            }
            .closetsClose{
                position: absolute;
                padding:10px 13px;
                border-radius:50%;
                background-color: #666;
                top:-46px;
                display:none;
                @media(min-width: 767px){
                    right: 0;
                }
            }
        }
        .closetsTabs{
            position: absolute;
            @media(min-width: 767px){
                writing-mode: vertical-lr;
                display: flex;
                left:100%;
                display:none;
            }
            .closetTab{
                padding:40px 20px;
                background-color: #666;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;   
            }
            .closetWeaponsTab{
                background-color: #333;
                box-shadow: 0 5px 5px #111 inset;
            }
            .closetAccessoriesTab{
                background-color: #333;
                box-shadow: 0 5px 5px #111 inset;
            }
        }
        .closetClothes{
            display: none;
            flex-direction: column;
            align-items: center;
            .clothItem{
                width: 66.7%;
                background-color: #555;
                box-shadow:0 5px 5px #111 inset;
                border-radius:10px;
                margin-bottom: 20px;
                img{
                    display:block;
                    margin-bottom: 20px;
                }
                h5{
                    margin-bottom: 20px;
                }
                // .purchaseBtn{
                //     @include button(#fff, #aaa,#424242);
                //     margin-bottom: 20px;
                // }
            }
        }
    }
}