.sectionRole{
    background-image: url(../img/role/roleManageBg.png);
    background-position: center;
    padding:0px 0px 50px 0px;
    background-size: cover;
    overflow-x: hidden;
    @media(min-width: 767px){
        padding:50px 0;
    }
    .container{
        max-width: 1200px;
        margin:auto;
    }
}
.roleFloat{
    animation: float 3s infinite;
    @keyframes float{
        0%{top: 0; animation-timing-function:linear;}
       25%{top: -10px; animation-timing-function:linear;}
       50%{top: 0; animation-timing-function:linear;}
       75%{top: 10px; animation-timing-function:linear;}
      100%{top: 0; animation-timing-function:linear;}
    }
}
.roleManageCol{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @media(min-width: 767px){
        width: 50%;
        margin:auto;
        margin-bottom: 50px;
    }
    .roleManageCan{
        position: relative;
        width: 80%;
        margin:auto;
        .memberRole{
            position:absolute;
            width: 90%;
            left:6%;
            top:15%;
            transition: height 1s linear; 
            height:67%;
            .roleBody{
                width: 66.7%;
            }
            .roleVehicle{
                display:none;
            }
        }   
        .roleShadow{
            width: 100%;
            height: 17px;
            border-radius: 50%;
            background-color: #424242;
            opacity:.18;
            position:absolute;
            top:81%;
            left:1%;
            animation: shadow 3s infinite;
            @keyframes shadow{
                0%{transform: scaleX(0.4); animation-timing-function:linear;}
               25%{transform: scaleX(0.3);animation-timing-function:linear;}
               50%{transform: scaleX(0.4);animation-timing-function:linear;}
               75%{transform: scaleX(0.5); animation-timing-function:linear;}
              100%{transform: scaleX(0.4); animation-timing-function:linear;}
            }
        } 
    }
}
.roleBody{
    position: relative;
    width: 67%;
    margin:auto;
    z-index:1;
    @include pad{
        width:33%;
    }
    img{
        width: 100%;
    }
    .clothEquip{
        position:absolute;
        top: 58%;
        left: 7%;
        width:65.6%;
        z-index: 2;
    }
    .roleAccessory{
        position: absolute;
        width: 100%;
        top:0;
        z-index: 3;
    }
    .rolePart{
        position: absolute;
        top:16%;
        left:6%;
        width:90%;
    }
    .roleLeftHand{
        position: absolute;
        top:67%;
        left:30%;
        width: 14%;
        // z-index: -1;
    }
    .roleRightHand{
        position: absolute;
        top:68%;
        left:58%;
        width: 17%;
        animation: swing 3s infinite;
        transform-origin: 0 0 0;
        // z-index: -1;
        @keyframes swing{
            0%{transform: rotate(0deg); animation-timing-function:linear;}
           25%{transform: rotate(-10deg); animation-timing-function:linear;}
           50%{transform: rotate(0deg); animation-timing-function:linear;}
           75%{transform: rotate(10deg); animation-timing-function:linear;}
          100%{transform: rotate(0deg); animation-timing-function:linear;}
        }
        .weaponEquip{
            position: absolute;
            top:-270%;
            left:-20%;
            width:396%;
        }
    }
    .roleVehicle{
        position: absolute;
        width: 100%;
        top:73%;
        z-index:-1;
    }
}
.roleInfos{
    width: 80%;
    margin:auto;
    text-align: center;
    position: relative;
    background-color: $equipped;
    padding: 20px;
    box-sizing: border-box;
    border-radius:10px;
    @include pad{
        width: 45%;
        border-radius:20px;
    }
    .equippedTitle{
        margin-bottom: 20px;
    }
    .equippedList{
        display:flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .equippedItems{
        display: flex;
        justify-content: space-around;
        .equippedItem{
            box-sizing: border-box;
            border-radius:10px;
            background-color: #333;
            box-shadow: 0 5px 5px #111 inset;
            width:25%;
            position: relative;
            cursor: pointer;
            @media(min-width: 767px){
                width:unset;
            }
            .equippedImg{
                margin-bottom: 20px;
            }
            h5{
                margin-bottom: 10px;
            }
            .equipIntro{
                display:none;
                position: absolute;
                background-color: rgba(255,255,255,.67);
                padding: 10px;
                width: 100%;
                z-index: 1;
                top: 0;
                text-align: left;
                left: 0;
                height: 100%;
                box-sizing: border-box;
                border-radius: 10px;
                color:#333;
            }
        }
    }
    .closets{
        width: 100vw;
        position: absolute;
        border-bottom-left-radius: 10px;
        box-sizing: border-box;
        background-color: $closetSelected;
        left:-110vw;
        top:unset;
        bottom: 0;
        transition: left 1s;
        height: 100%;
        padding:20px;
        @media(min-width: 767px){
            width:66.7%;
            left:-66.7%;
            top:-70%;
            bottom:unset;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height:unset;
            padding:unset;
            @keyframes closetsFloat{
                0%{top:-70%; animation-timing-function:linear;}
               25%{top:-73%;animation-timing-function:linear;}
               50%{top:-70%; animation-timing-function:linear;}
               75%{top:-67%; animation-timing-function:linear;}
              100%{top:-70%;animation-timing-function:linear;}
            }
            animation:closetsFloat 6s infinite;
        }
        .closetsClose{
            position: absolute;
            padding:10px 13px;
            border-radius:50%;
            background-color: $closetSelected;
            top:-41%;
            display:none;
            color:$tronCloset;
            right:0;
            cursor: pointer;
            @media(min-width: 767px){
                right: -17%;
                top:-6%;
            }
            &:hover{
                background-color: $tronCloset;
                color:$closetSelected;
            }
        }
        .closetsTitle{
            position: absolute;
            left:100%;
            background-color:$closetSelected;
            height:100%;
            display:flex;
            align-items: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            bottom:0%;
            cursor: pointer;
            &:hover .closetsTitleForHover{
                color:$tronCloset;
            }
            @media(min-width: 767px){
                transform: rotate(-9deg);
                transition: transform 3s;
                width:50%;
                left:0;
                background-color: unset;
                bottom:100%;
                height:unset;
                display:unset;
                @keyframes rotate{
                    0%{transform: rotate(-9deg);animation-timing-function:linear;}
                   25%{transform: rotate(-12deg);animation-timing-function:linear;}
                   50%{transform: rotate(-9deg);animation-timing-function:linear;}
                   75%{transform: rotate(-6deg);animation-timing-function:linear;}
                  100%{transform: rotate(-9deg);animation-timing-function:linear;}
                }
                animation:rotate 9s infinite; 
            }
            img{
                display:none;
                @media(min-width: 767px){
                   display:block; 
                }
            }
            .closetsTitleForHover{
                display:none;
                @media(min-width: 767px){
                    display:block;
                    width:100%;
                    box-sizing: border-box;
                    padding: 20px;
                }
            }
            .closetsTitleForNormal{
                width: 10vw;
                border-top-left-radius:unset;
                box-sizing: border-box;
                color:$tronCloset;
                @media(min-width: 767px){
                    display:none;
                    padding: 20px; border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width:100%;
                }
            }
        }
        .closetsTabs{
            position: absolute;
            color:$closetShadow;
            width: 100%;
            display:flex;
            top:unset;
            bottom:100%;
            right:0%;
            @media(min-width: 767px){
                writing-mode: vertical-lr;
                right:100%;
                display:none;
                top:0;
                bottom:unset;
                width:unset;
            }
            .closetTab{
                padding:10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                flex-grow: 1;
                cursor: pointer;
                @media(min-width: 767px){
                    padding:40px 20px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius:unset;
                }
            }
            .closetClothesTab{
                background-color: $closetSelected;
                color:$tronCloset;
            }
            .closetWeaponsTab{
                background-color: $closetUnselected;
                box-shadow: 3px -3px 5px $closetShadow inset;
                @media(min-width: 767px){
                    box-shadow: 0 5px 5px $closetShadow inset;
                }
            }
            .closetAccessoriesTab{
                background-color: $closetUnselected;
                box-shadow: 3px -3px 5px $closetShadow inset;
                @media(min-width: 767px){
                    box-shadow: 0 5px 5px $closetShadow inset;
                }
            }
        }
        .closetFrame{
            height: 100%;
            overflow: overlay;
            width:100%;
            @media(min-width: 767px){
                width:unset;
            }
            &::-webkit-scrollbar {
                width: 6px;
                height:6px;
            }
            &::-webkit-scrollbar-track {
                background-color: $closetUnselected;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $tronCloset; 
                border-radius:3px;
            }
        }
        .closet{
            display: flex;
            flex-direction: row;
            width:261%;
            @media(min-width: 767px){
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding:20px 0;
                width:unset;
            }
            .item{
                background-color: $closetUnselected;
                box-shadow:0 5px 5px $closetShadow inset;
                border-radius:10px;
                width:14%;
                position: relative;
                margin:0px 20px 0px 0px;
                cursor: pointer;
                @media(min-width: 767px){
                    width: 66.7%;
                    margin: 0px 0px 20px 0px;
                }
                // &:hover{
                //     background-color: $tronCloset;
                //     color:$closetSelected;
                //     box-shadow:unset;
                // }
                // &:hover h5{
                //     color:#0b0b0b;
                // }
                img{
                    display:block;
                    margin-bottom: 20px;
                }
                h5{
                    margin-bottom: 20px;
                    color:$closetText;
                }
                .equipBack{
                    display:none;
                    position: absolute;
                    background-color: rgba(255,230,77,.67);
                    padding: 10px;
                    width: 100%;
                    z-index: 1;
                    top: 0;
                    text-align: center;
                    left: 0;
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: 10px;
                    .equipIntro{
                        display: block;
                        text-align: left;
                        height: calc(100% - 72px);
                    }
                }
            }
        }
        .closetWeapons{
            display:none;
        }
        .closetAccessories{
            display:none;
        }
    }
    .stores{
        width: 100vw;
        position: absolute;
        border-bottom-right-radius: 10px;
        box-sizing: border-box;
        background-color: $storeSelected;
        right:-110vw;
        top:unset;
        bottom: 0;
        transition: right 1s;
        height: 100%;
        padding:20px;
        @media(min-width: 767px){
            width:66.7%;
            right:-66.7%;
            top:-70%;
            bottom:unset;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height:unset;
            padding:unset;
            @keyframes storesFloat{
                0%{top:-70%; animation-timing-function:linear;}
               25%{top:-67%; animation-timing-function:linear;}
               50%{top:-70%;animation-timing-function:linear;}
               75%{top:-73%; animation-timing-function:linear;}
              100%{top:-70%;animation-timing-function:linear;}
            }
            animation:storesFloat 6s infinite;
        }
        .storesClose{
            position: absolute;
            padding:10px 13px;
            border-radius:50%;
            background-color: $storeSelected;
            top:-41%;
            display:none;
            color:$tronStore;
            right:0;
            cursor: pointer;
            @media(min-width: 767px){
                right: -17%;
                top:-6%;
            }
            &:hover{
                background-color: $tronStore;
                color:$storeSelected;
            }
        }
        .storesTitle{
            position: absolute;
            right:100%;
            background-color: $storeSelected;
            height:100%;
            display:flex;
            align-items:center;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            bottom:0%;
            cursor: pointer;
            &:hover .storesTitleForHover{
                color:$tronStore;
            }
            @media(min-width: 767px){
                transform: rotate(9deg);
                transition: transform 3s;
                width:50%;
                right:0;
                background-color: unset;
                bottom:100%;
                height:unset;
                display:unset;
                @keyframes storeRotate{
                    0%{transform: rotate(9deg);animation-timing-function:linear;}
                   25%{transform: rotate(12deg);animation-timing-function:linear;}
                   50%{transform: rotate(9deg);animation-timing-function:linear;}
                   75%{transform: rotate(6deg);animation-timing-function:linear;}
                  100%{transform: rotate(9deg);animation-timing-function:linear;}
                }
                animation:storeRotate 9s infinite; 
            }
            img{
                display:none;
                @media(min-width: 767px){
                   display:block; 
                }
            }
            .storesTitleForHover{
                display:none;
                @media(min-width: 767px){
                    display:block;
                    width:100%;
                    box-sizing: border-box;
                    padding: 20px;
                }
            }
            .storesTitleForNormal{
                width: 10vw;
                border-top-right-radius:unset;
                box-sizing: border-box;
                color:$tronStore;
                @media(min-width: 767px){
                    display:none;
                    padding: 20px; border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width:100%;
                }
            }
        }
        .storesTabs{
            position: absolute;
            color:$storeShadow;
            width: 100%;
            display:flex;
            top:unset;
            bottom:100%;
            right:0%;
            @media(min-width: 767px){
                writing-mode: vertical-lr;
                right:100%;
                display:none;
                top:0;
                bottom:unset;
                width:unset;
            }
            .storeTab{
                padding:10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                flex-grow:1;
                cursor: pointer;
                @media(min-width: 767px){
                    padding:40px 20px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius:unset;
                }
            }
            .storeClothesTab{
                background-color: $storeSelected;
                color:$tronStore;
            }
            .storeWeaponsTab{
                background-color: $storeUnselected;
                box-shadow: 3px -3px 5px $storeShadow inset;
                @media(min-width: 767px){
                    box-shadow: 0 5px 5px $storeShadow inset;
                }
            }
            .storeAccessoriesTab{
                background-color: $storeUnselected;
                box-shadow: 3px -3px 5px $storeShadow inset;
                @media(min-width: 767px){
                    box-shadow: 0 5px 5px $storeShadow inset;
                }
            }
        }
        .storeFrame{
            height: 100%;
            overflow: overlay;
            width:100%;
            &::-webkit-scrollbar {
                width: 6px;
                height:6px;
            }
            &::-webkit-scrollbar-track {
                background-color: $storeUnselected;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $tronStore; 
                border-radius:3px;
            }
        }
        .store{
            display: flex;
            flex-direction: row;
            width:261%;
            position:relative;
            @media(min-width: 767px){
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding:20px 0;
                width:unset;
            }
            .textForNothing{
                position:absolute;
                width:14%;
                // top:100%;
                @media(min-width: 767px){
                    width:66.7%;
                }
            }
            .item{
                background-color: $storeUnselected;
                box-shadow:0 5px 5px $storeShadow inset;
                border-radius:10px;
                width:14%;
                position: relative;
                margin:0px 20px 0px 0px;
                cursor: pointer;
                @media(min-width: 767px){
                    width: 66.7%;
                    margin: 0px 0px 20px 0px;
                }
                
                // &:hover{
                //     background-color: $tronStore;
                //     color:$storeSelected;
                //     box-shadow:unset;
                // }
                // &:hover h5{
                //     color:$storeSelected;
                // }
                img{
                    display:block;
                    margin-bottom: 20px;
                }
                h5{
                    margin-bottom: 20px;
                    color:$storeText;
                }
                .productBack{
                    display:none;
                    position: absolute;
                    background-color: rgba(24,202,230,.67);
                    padding: 10px;
                    width: 100%;
                    z-index: 1;
                    top: 0;
                    text-align: center;
                    left: 0;
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: 10px;
                    .productIntro{
                        display: block;
                        text-align: left;
                        height: calc(100% - 72px);
                    }
                    .productPrice{
                        margin-bottom: 10px;
                        display: block;
                        font-size: 1.33rem;
                    }
                    .purchaseBtn{
                        @include button(#fff, #aaa,#424242);
                        margin-bottom: 10px;
                        &:hover{
                            border-width:4px 0 0 0;
                            border-color: rgba(24,202,230,.67);
                        }
                    }
                }
                
            }
        }
        .storeWeapons{
            display:none;
        }
        .storeAccessories{
            display:none;
        }
    }
}