// color
$Blue:#0b99fa;
$DeepBlue:#111e4e;
$Yellow:#f6d371;
$titleBgColor: #efefef;
//粘-------------------------------------------------
$tronCloset:#ffe64d;
$closetSelected:#929292;
$closetUnselected:#656565;
$closetShadow:#383838;
$closetText:#f2f2f2;
$tronStore:#18cae6;
$storeSelected:#f1f1f1;
$storeUnselected:#c4c4c4;
$storeShadow:#969696;
$storeText:#636363;
$equipped:#424242;
//---------------------------------------------------
$Purple:#7d2c7c;
$DeepPurple:#38227c;