// Variable overrides
// 顏色變數在路徑  node_modules/@coreui/coreui/scss/variables/_colors.scss
// $gray-800:  #004e8d; 
$zh: "Noto Sans TC", sans-serif;
$Blue:#0b99fa;
$DeepBlue:#111e4e;
$Yellow:#f6d371;
$Purple:#7d2c7c;
$DeepPurple:#38227c;
$titleBgColor: #efefef;