<div class="container-fluid">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">En-galaxy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">帳號管理</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">會員編號</th>
                        <th scope="col">英文等級</th>
                        <th scope="col">會員姓名</th>
                        <th scope="col">角色名稱</th>
                        <th scope="col">虛擬幣</th>
                        <th scope="col">會員帳號</th>
                        <!-- <th scope="col">會員密碼</th> -->
                        <th scope="col">會員信箱</th>
                        <th scope="col">會員電話</th>
                        <th scope="col">會員狀態</th>
                    </tr>
                </thead>
                <tbody class="accountSwitch">
                </tbody>
            </table>
        </div>
    </div>
</div>