<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">預設字卡管理</div>
            <div class="card-body">





                <div class="row">
                    <div class="col-sm-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> 初級
                                <!-- <small>buttons with disabled items</small> -->
                            </div>
                            <div class="card-body">

                                <div class="list-group">
                                <!-- 自動生成 -->
                                    <button class="list-group-item list-group-item-action" type="button">Cras
                                        justo odio <a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Dapibus ac
                                        facilisis in<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Morbi leo
                                        risus<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Porta ac
                                        consectetur ac<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button"
                                        >Vestibulum at eros<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                <!-- 自動生成 -->
                                </div>


                            </div>
                            <div class="row">
                                <button id="basicVocabAdd" class="btn btn-pill btn-primary w-25 mr-auto ml-auto mb-4 align-top" type="button">新增字卡</button>
                                <button class="btn btn-pill btn-danger w-25 mr-auto ml-auto mb-4 align-top d-none cancel" type="button">取消</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> 中級
                                <!-- <small>buttons with disabled items</small> -->
                            </div>
                            <div class="card-body">
                                <div class="list-group">
                                    <button class="list-group-item list-group-item-action" type="button">Cras
                                        justo odio<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Dapibus ac
                                        facilisis in<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Morbi leo
                                        risus<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Porta ac
                                        consectetur ac<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button"
                                        >Vestibulum at eros<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <!-- <input class="form-control mt-3" id="company" type="text" placeholder="請輸入欲新增的單字"> -->
                                </div>
                            </div>
                            <div class="row">
                                <button id="midVocabAdd" class="btn btn-pill btn-primary w-25 mr-auto ml-auto mb-4 align-top" type="button">新增字卡</button>
                                
                                <button class="btn btn-pill btn-danger w-25 mr-auto ml-auto mb-4 align-top d-none cancel" type="button">取消</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> 高級
                                <!-- <small>buttons with disabled items</small> -->
                            </div>
                            <div class="card-body">
                                <div class="list-group">
                                    <button class="list-group-item list-group-item-action" type="button">Cras
                                        justo odio<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Dapibus ac
                                        facilisis in<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Morbi leo
                                        risus<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button">Porta ac
                                        consectetur ac<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                    <button class="list-group-item list-group-item-action" type="button"
                                        >Vestibulum at eros<a class="btn btn-danger float-right deleteVocab" href="#">
                                            <i class="fa fa-trash-o"></i>
                                            </a></button>
                                </div>
                            </div>
                            <div class="row">
                                <button id="highVocabAdd" class="btn btn-pill btn-primary w-25 mr-auto ml-auto mb-4 align-top" type="button">新增字卡</button>
                                <button class="btn btn-pill btn-danger w-25 mr-auto ml-auto mb-4 align-top d-none cancel" type="button">取消</button>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <!-- <table class="table table-responsive-sm table-sm">
            <thead>
              <tr>
                <th>預設字卡等級</th>
                <th>註冊日期</th>
                <th>權限</th>
                <th>狀態</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>初級</td>
                <td>2019/01/01</td>
                <td>總管理</td>
                <td>
                  <span class="badge badge-success">正常</span>
                </td>
              </tr>
              <tr>
                <td>中級</td>
                <td>2019/02/01</td>
                <td>上下架管理</td>
                <td>
                  <span class="badge badge-danger">停權</span>
                </td>
              </tr>
              <tr>
                <td>高級</td>
                <td>2019/02/01</td>
                <td>上下架管理</td>
                <td>
                  <span class="badge badge-success">正常</span>
                </td>
              </tr>
              <tr>
                <td>Eustorgios Amulius</td>
                <td>2019/03/01</td>
                <td>上下架管理</td>
                <td>
                  <span class="badge badge-danger">停權</span>
                </td>
              </tr>
              <tr>
                <td>Leopold Gáspár</td>
                <td>2019/01/21</td>
                <td>查詢</td>
                <td>
                  <span class="badge badge-success">正常</span>
                </td>
              </tr>
            </tbody>
          </table> -->


            </div>
        </div>
    </div>
</div>