<div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">管理員帳號</div>
            <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
              nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
              ex ea commodo consequat.

              <table class="table table-responsive-sm table-sm">
                <thead>
                  <tr>
                    <th>帳號</th>
                    <th>註冊日期</th>
                    <th>權限</th>
                    <th>狀態</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Carwyn Fachtna</td>
                    <td>2019/01/01</td>
                    <td>總管理</td>
                    <td>
                      <span class="badge badge-success">正常</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Nehemiah Tatius</td>
                    <td>2019/02/01</td>
                    <td>上下架管理</td>
                    <td>
                      <span class="badge badge-danger">停權</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ebbe Gemariah</td>
                    <td>2019/02/01</td>
                    <td>上下架管理</td>
                    <td>
                      <span class="badge badge-success">正常</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Eustorgios Amulius</td>
                    <td>2019/03/01</td>
                    <td>上下架管理</td>
                    <td>
                      <span class="badge badge-danger">停權</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Leopold Gáspár</td>
                    <td>2019/01/21</td>
                    <td>查詢</td>
                    <td>
                      <span class="badge badge-success">正常</span>
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>