<div class="card">
    <div class="card-header">
        <span>題庫管理 / 遊戲題庫管理</span>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm text-center">
            <thead>
                <tr>
                    <th>遊戲題目編號</th>
                    <th>英文等級</th>
                    <th>遊戲題目</th>
                    <th>選項一</th>
                    <th>選項二</th>
                    <th>選項三</th>
                    <th>選項四</th>
                    <th>正確解答</th>
                    <th>上下架狀態</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>初級</td>
                    <td>How do you turn ____ on?</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>C</td>
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input class="switch-input" type="checkbox" checked="0">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                    <td><button class="btn btn-primary btn-outline-success active mr-3" type="button"
                            aria-pressed="true">修改</button>
                        <button class="btn btn-primary btn-danger" type="button">刪除</button></td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination  justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </div>
</div>