<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

<div class="row">
    <div class="card">
        <div class="card-header">
            角色管理
        </div>
        <div class="card-body">
            <table>
                <tr></tr>
                <tr>
                    <th>角色編號</th>
                    <th>所屬等級</th>
                    <th>角色名稱</th>
                    <th>角色本體</th>
                    <th>角色不上色部分</th>
                    <th>角色左手</th>
                    <th>角色右手</th>
                    <th>上架狀態</th>
                    <th>角色簡介</th>
                </tr>

            </table>
        </div>
    </div>
</div>