<nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="nav-icon icon-speedometer"></i> 系統概況
          <span class="badge badge-primary">NEWs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="nav-icon icon-pie-chart"></i> 管理員管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="nav-icon icon-pie-chart"></i> 帳號管理</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-puzzle"></i>題庫管理</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="base/breadcrumb.html">
              <i class="nav-icon icon-puzzle"></i> 遊戲題庫管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/cards.html">
              <i class="nav-icon icon-puzzle"></i> 影片題庫管理</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-cursor"></i> 角色造型管理</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="buttons/buttons.html">
              <i class="nav-icon icon-cursor"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/button-group.html">
              <i class="nav-icon icon-cursor"></i> Buttons Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/dropdowns.html">
              <i class="nav-icon icon-cursor"></i> Dropdowns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/brand-buttons.html">
              <i class="nav-icon icon-cursor"></i> Brand Buttons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-star"></i> 社群管理</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="icons/coreui-icons.html">
              <i class="nav-icon icon-star"></i> 活動檢舉管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="icons/flags.html">
              <i class="nav-icon icon-star"></i> 留言檢舉管理</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-star"></i> 商店商品管理</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="icons/coreui-icons.html">
              <i class="nav-icon icon-star"></i> CoreUI Icons
              <span class="badge badge-success">NEW</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="icons/flags.html">
              <i class="nav-icon icon-star"></i> Flags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="icons/font-awesome.html">
              <i class="nav-icon icon-star"></i> Font Awesome
              <span class="badge badge-secondary">4.7</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="icons/simple-line-icons.html">
              <i class="nav-icon icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-bell"></i> 影片管理</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="notifications/alerts.html">
              <i class="nav-icon icon-bell"></i> Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="notifications/badge.html">
              <i class="nav-icon icon-bell"></i> Badge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="notifications/modals.html">
              <i class="nav-icon icon-bell"></i> Modals</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="card.html">
          <i class="nav-icon icon-calculator"></i> 字卡管理
        </a>
      </li>
    </ul>
  </nav>