<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="nav-icon icon-speedometer"></i> 系統概況
        <span class="badge badge-primary">NEWs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="adminManage.html">
        <i class="nav-icon icon-pie-chart"></i> 管理員管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="accountManage.php">
        <i class="nav-icon icon-pie-chart"></i> 帳號管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="quizGame.html">
        <i class="nav-icon icon-puzzle"></i> 遊戲題庫管理</a>
    </li>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="icon-people icons font-2xl mt-4"></i> 角色管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="roleSetManage.html">
            <i class="icon-social-github icons font-2xl mt-4"></i> 角色設定管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="roleEquipMng.html">
            <i class="icon-eyeglass icons font-2xl mt-4"></i>角色裝備管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-star"></i> 社群管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="actReport.php">
            <i class="nav-icon icon-star"></i> 活動檢舉管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="report.php">
            <i class="nav-icon icon-star"></i> 問題檢舉管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="answerReport.php">
            <i class="nav-icon icon-star"></i> 回答檢舉管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-social-youtube"></i> 影片管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="studyEngMag.php">
            <i class="nav-icon icon-social-youtube"></i>英文影片管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quizVideo.html">
            <i class="nav-icon icon-social-youtube"></i>學習影片題庫管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="card.php">
        <i class="nav-icon icon-calculator"></i> 字卡管理
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="robotQna.html"">
          <i class=" icon-info icons font-2xl mt-4"></i></i> 常見問答管理
      </a>
    </li>
  </ul>
</nav>